In [29]:
import pandas as pd
import numpy as np


log = pd.read_csv("log.csv", header=None)
log.columns= ['user_id', 'time', 'bet', 'win']
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
log['bet'].fillna(0, inplace=True)
log['win'].fillna(0, inplace=True)
log['net'] = log.apply(lambda row: row.win - row.bet, axis=1)

users = pd.read_csv('users.csv', encoding ='KOI8-R', sep='\t')
users.columns = ['user_id', 'email', 'geo']
users.user_id = users.user_id.apply(lambda x: x.lower())

merged = pd.merge(users, log, on='user_id')

In [30]:
wins = merged.groupby(['geo'], sort=True).win.sum().reset_index()
wins.sort_values(by = ['win'], ascending=False)

                geo         win
7            Москва  11959741.0
1           Воронеж    184338.0
9   Санкт-Петербург    151007.0
4            Казань     97806.0
13        Ярославль     97441.0
3            Ижевск     84895.0
6        Красноярск     84767.0
0       Арзангелтск     74375.0
8             Пермь     67734.0
12        Хабаровск     65459.0
5         Краснодар     62718.0
10       Ставрополь     46003.0
2      Екатеринбург     36682.0
11           Тюмень      4701.0

In [31]:
df_filtered = merged[merged['bet'] >0] 
bets = df_filtered.groupby(['geo']).bet.mean().reset_index()
min_bet = bets['bet'].min()
max_bet = bets['bet'].max()
#bets.sort_values(by = ['bet'], ascending=False)
result = max_bet/min_bet
result

127.81602335164835