In [14]:
import pandas as pd

log = pd.read_csv("log.csv", header=None)
log.columns= ['user_id', 'time', 'bet', 'win']

users = pd.read_csv('users.csv', encoding ='KOI8-R', sep='\t')

In [15]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [16]:
users.head()

     Юзверь                 мейл        Гео
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN

In [22]:
time = log.time