In [60]:
import pandas as pd
import re

log = pd.read_csv("log.csv", header=None)
log.columns= ['user_id', 'time', 'bet', 'win']

users = pd.read_csv('users.csv', encoding ='KOI8-R', sep='\t')

In [61]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [62]:
def alter_time(time):
    pattern = re.compile('\[.+')
    if pattern.match(str(time)):
        time = time[time.find('[')+1:]
        return time    

log['time'] = log.time.apply(alter_time)

log.head()

                            user_id                 time  bet  win
0  Запись пользователя № - user_919  2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  2019-01-01 21:31:18  NaN  NaN

In [63]:
log['time'] = pd.to_datetime(log['time'])
log['time'].max().strftime('%Y-%m-%d')

'2019-04-20'

In [64]:
log = log.dropna()  
log.time = log.time.apply(lambda x: x.minute)
log['time'].head(30)

14     57
29     59
151    54
189    34
205    26
214    40
230    42
232    57
265    37
294    34
348    36
360    20
367     9
376    23
384    48
393     9
461    10
469     3
509    50
517    55
522     1
523    15
526     2
545    16
549     6
557    48
568    24
574    40
581    12
584    36
Name: time, dtype: int64