In [14]:
import pandas as pd
import re

log = pd.read_csv("log.csv", header=None)
log.columns= ['user_id', 'time', 'bet', 'win']

users = pd.read_csv('users.csv', encoding ='KOI8-R', sep='\t')

In [15]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [16]:
def alter_time(time):
    pattern = re.compile('\[.+')
    if pattern.match(str(time)):
        time = time[time.find('[')+1:]
        return time    

log['time'] = log.time.apply(alter_time)

log.head()

                            user_id                 time  bet  win
0  Запись пользователя № - user_919  2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  2019-01-01 21:31:18  NaN  NaN

In [17]:
log['time'] = pd.to_datetime(log['time'])
log['time'].max().strftime('%Y-%m-%d')

'2019-04-20'

In [18]:
log1 = log.dropna()  
log1.time = log1.time.apply(lambda x: x.minute)
log1['time'].head(30)

D:\dev\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

14     57
29     59
151    54
189    34
205    26
214    40
230    42
232    57
265    37
294    34
348    36
360    20
367     9
376    23
384    48
393     9
461    10
469     3
509    50
517    55
522     1
523    15
526     2
545    16
549     6
557    48
568    24
574    40
581    12
584    36
Name: time, dtype: int64

In [20]:
log2 = log.dropna()  
log2.time = log2['time'].apply(lambda x: x.month)
log2['time'].head(30)

14     1
29     1
151    1
189    1
205    1
214    1
230    1
232    1
265    1
294    2
348    2
360    2
367    2
376    2
384    2
393    2
461    2
469    2
509    2
517    2
522    2
523    2
526    2
545    2
549    2
557    3
568    3
574    3
581    3
584    3
Name: time, dtype: int64

In [25]:
log3 = log.dropna()  
log3.time.dt.month

14     1
29     1
151    1
189    1
205    1
      ..
967    4
971    4
972    4
976    4
991    4
Name: time, Length: 133, dtype: int64