In [14]:
import pandas as pd
import re

log = pd.read_csv("log.csv", header=None)
log.columns= ['user_id', 'time', 'bet', 'win']

users = pd.read_csv('users.csv', encoding ='KOI8-R', sep='\t')

In [15]:
log =log [log ['time'].isna()==False]
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log_minutes = log['time'].dt.minute
log_minutes.value_counts()

36    25
31    23
6     22
50    22
43    21
14    21
18    21
12    21
5     21
40    21
29    21
53    21
48    20
2     20
45    20
57    20
58    20
27    19
21    19
56    19
54    18
9     18
20    18
3     18
35    18
34    18
33    18
47    18
10    17
51    17
55    16
25    16
17    16
37    15
15    15
16    15
49    15
30    15
24    15
38    15
28    15
4     14
19    14
7     14
44    14
32    14
1     13
59    13
41    13
23    12
39    12
0     12
13    11
22    11
42    11
46    10
52    10
8      9
26     9
11     6
Name: time, dtype: int64

In [17]:
log_months = log['time'].dt.month
log_months.value_counts(ascending=True)

4    170
2    259
3    264
1    292
Name: time, dtype: int64

In [18]:
log_weekdays = log['time'].dt.dayofweek
c = 0
for day in log_weekdays:
    if day >= 5:
        c +=1
print(c)

283

In [22]:
def get_time_of_day(time):
    hour = time.hour
    if hour < 6:
        time_of_day = 'night'
    elif hour < 12:
        time_of_day = 'morning'
    elif hour < 18:
        time_of_day = 'day'
    else:
        time_of_day = 'evening'
    return time_of_day

time_of_day_column = log['time'].apply(get_time_of_day)
time_of_day_column.value_counts(ascending=True)

evening    227
day        240
morning    253
night      265
Name: time, dtype: int64

In [23]:
log = pd.read_csv("log.csv", header=None)
log.columns= ['user_id', 'time', 'bet', 'win']
log = log.dropna()
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log['time'].dt.hour
log.head()

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5