In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("./"))

['.ipynb_checkpoints', 'data.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [3]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [4]:
len(data)

1890

# Предобработка датасета

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
display(data[data.budget == data.budget.max()].original_title)
display(data[data.budget == data.budget.max()].budget)
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

491    425000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
display(data[data.runtime == data.runtime.max()].original_title)
display(data[data.runtime == data.runtime.max()].runtime)
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

1158    214
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [8]:
display(data[data.runtime == data.runtime.min()].original_title)
display(data[data.runtime == data.runtime.min()].runtime)
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

769    63
Name: runtime, dtype: int64

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [9]:
print(data.runtime.mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [10]:
print(data.runtime.median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [11]:
data['net_income'] = (data['revenue']) - (data['budget'])
display(data.loc[data.net_income == data.net_income.max()].original_title)
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [12]:
display(data.loc[data.net_income == data.net_income.min()].original_title)
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [13]:
print(data.loc[data.net_income > 0].original_title.count())
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [14]:
data_2008 = data.loc[data.release_year == 2008]
display(data_2008.loc[data_2008.net_income == data_2008.net_income.max()].original_title)
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?

Варианты ответов:

1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [15]:
data_1214 = data.loc[(data.release_year >= 2012) & (data.release_year <= 2014)]
display(data_1214.loc[data_1214.net_income == data_1214.net_income.min()].original_title)
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [16]:
Action = data[data.genres.str.contains("Action", na=False)].original_title.count()
Adventure = data[data.genres.str.contains("Adventure", na=False)].original_title.count()
Drama = data[data.genres.str.contains("Drama", na=False)].original_title.count()
Comedy = data[data.genres.str.contains("Comedy", na=False)].original_title.count()
Thriller = data[data.genres.str.contains("Thriller", na=False)].original_title.count()
genres = {
    'Action': Action,
    'Adventure': Adventure,
    'Drama': Drama,
    'Comedy': Comedy,
    'Thriller': Thriller,
}
print(genres)
answer_ls.append(3)

{'Action': 583, 'Adventure': 416, 'Drama': 782, 'Comedy': 683, 'Thriller': 597}

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [17]:
p_data = data.loc[data.net_income > 0]
Action = p_data[p_data.genres.str.contains("Action", na=False)].original_title.count()
Adventure = p_data[p_data.genres.str.contains("Adventure", na=False)].original_title.count()
Drama = p_data[p_data.genres.str.contains("Drama", na=False)].original_title.count()
Comedy = p_data[p_data.genres.str.contains("Comedy", na=False)].original_title.count()
Thriller = p_data[p_data.genres.str.contains("Thriller", na=False)].original_title.count()
genres = {
    'Action': Action,
    'Adventure': Adventure,
    'Drama': Drama,
    'Comedy': Comedy,
    'Thriller': Thriller,
}
print(genres)
answer_ls.append(1)

{'Action': 444, 'Adventure': 337, 'Drama': 560, 'Comedy': 551, 'Thriller': 446}

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [18]:
display(data['director'].value_counts())
answer_ls.append(3)

Steven Soderbergh              13
Clint Eastwood                 12
Ridley Scott                   12
Shawn Levy                     10
Steven Spielberg               10
                               ..
Chris Miller|Raman Hui          1
James Gray                      1
Paul Weiland                    1
Chris Williams|Byron Howard     1
Fyodor Bondarchuk               1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [19]:
display(p_data['director'].value_counts())
answer_ls.append(4)

Ridley Scott         12
Clint Eastwood       10
Steven Soderbergh    10
Steven Spielberg     10
Shawn Levy            9
                     ..
Kimberly Peirce       1
Pat O'Connor          1
Scott Hicks           1
Henry Selick          1
David McNally         1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
#data.groupby(['director'])[['net_income']].sum().sort_values(['net_income'],ascending=False).head(5)
display(data.groupby(['director'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(5))
answer_ls.append(5)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [36]:
import operator

actors_raw = data['cast']
actors = []
for line in actors_raw:
    actors_in_line = line.split('|')
    for actor in actors_in_line:
        if actor not in actors:        
            actors.append(actor)

actors_income = {}     

for actor in actors:
    data_actor = data[data.cast.str.contains(actor, na=False)]
    actor_income = data_actor['revenue'].sum()
    actors_income[actor] = actor_income

max(actors_income.items(), key=operator.itemgetter(1))[0]
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [43]:
data_raw = data[data.release_year == 2012]

actors_raw = data_raw['cast']
actors = []
for line in actors_raw:
    actors_in_line = line.split('|')
    for actor in actors_in_line:
        if actor not in actors:        
            actors.append(actor)

actors_income = {}

for actor in actors:
    
    data_actor = data_raw[data_raw.cast.str.contains(actor, na=False)]
    actor_income = data_actor['revenue'].sum()
    actors_income[actor] = actor_income

actors_income
#min(actors_income.items(), key=operator.itemgetter(1))[0]
#answer_ls.append(1)

{'Chris Pratt': 186730467,
 'Bryce Dallas Howard': 0,
 'Irrfan Khan': 609016565,
 "Vincent D'Onofrio": 4636169,
 'Nick Robinson': 0,
 'Tom Hardy': 1134717867,
 'Charlize Theron': 799770142,
 'Hugh Keays-Byrne': 0,
 'Nicholas Hoult': 0,
 'Josh Helman': 0,
 'Shailene Woodley': 0,
 'Theo James': 132400000,
 'Kate Winslet': 0,
 'Ansel Elgort': 0,
 'Miles Teller': 0,
 'Harrison Ford': 0,
 'Mark Hamill': 0,
 'Carrie Fisher': 0,
 'Adam Driver': 0,
 'Daisy Ridley': 0,
 'Vin Diesel': 0,
 'Paul Walker': 0,
 'Jason Statham': 352919609,
 'Michelle Rodriguez': 240159255,
 'Dwayne Johnson': 355692760,
 'Leonardo DiCaprio': 425368238,
 'Will Poulter': 0,
 'Domhnall Gleeson': 0,
 'Paul Anderson': 0,
 'Arnold Schwarzenegger': 312573423,
 'Jason Clarke': 132820716,
 'Emilia Clarke': 0,
 'Jai Courtney': 0,
 'J.K. Simmons': 63100000,
 'Matt Damon': 8138788,
 'Jessica Chastain': 186497296,
 'Kristen Wiig': 0,
 'Jeff Daniels': 0,
 'Michael PeÃ±a': 48126384,
 'Sandra Bullock': 0,
 'Jon Hamm': 0,
 'Michael Keaton': 0,
 'Allison Janney': 22044277,
 'Steve Coogan': 0,
 'Amy Poehler': 0,
 'Phyllis Smith': 0,
 'Richard Kind': 0,
 'Bill Hader': 0,
 'Lewis Black': 0,
 'Daniel Craig': 1108561013,
 'Christoph Waltz': 425368238,
 'LÃ©a Seydoux': 0,
 'Ralph Fiennes': 1409561013,
 'Monica Bellucci': 0,
 'Mila Kunis': 549368315,
 'Channing Tatum': 598294075,
 'Sean Bean': 52302796,
 'Eddie Redmayne': 0,
 'Douglas Booth': 0,
 'Alicia Vikander': 0,
 'Oscar Isaac': 9622846,
 'Sonoya Mizuno': 0,
 'Corey Johnson': 0,
 'Adam Sandler': 416433970,
 'Michelle Monaghan': 0,
 'Peter Dinklage': 0,
 'Josh Gad': 0,
 'Kevin James': 358375603,
 'Robert Downey Jr.': 1519557910,
 'Chris Hemsworth': 2027450773,
 'Mark Ruffalo': 1519557910,
 'Chris Evans': 1519557910,
 'Scarlett Johansson': 1519557910,
 'Samuel L. Jackson': 425368238,
 'Kurt Russell': 0,
 'Jennifer Jason Leigh': 0,
 'Walton Goggins': 0,
 'DemiÃ¡n Bichir': 0,
 'Liam Neeson': 677141306,
 'Forest Whitaker': 0,
 'Maggie Grace': 408345336,
 'Famke Janssen': 376141306,
 'Dougray Scott': 0,
 'Paul Rudd': 145618720,
 'Michael Douglas': 0,
 'Evangeline Lilly': 0,
 'Corey Stoll': 0,
 'Bobby Cannavale': 0,
 'Lily James': 0,
 'Cate Blanchett': 1017003568,
 'Richard Madden': 0,
 'Helena Bonham Carter': 245527149,
 'Holliday Grainger': 0,
 'Jennifer Lawrence': 896949406,
 'Josh Hutcherson': 1091710235,
 'Liam Hemsworth': 691210692,
 'Woody Harrelson': 710632953,
 'Elizabeth Banks': 829566659,
 'Britt Robertson': 0,
 'George Clooney': 0,
 'Raffey Cassidy': 0,
 'Thomas Robinson': 0,
 'Hugh Laurie': 0,
 'Jake Gyllenhaal': 48126384,
 'Rachel McAdams': 196114570,
 'Oona Laurence': 0,
 '50 Cent': 4636169,
 'Alexandra Daddario': 0,
 'Carla Gugino': 0,
 'Ioan Gruffudd': 0,
 'Archie Panjabi': 0,
 'Dakota Johnson': 0,
 'Jamie Dornan': 0,
 'Jennifer Ehle': 0,
 'Eloise Mumford': 0,
 'Victor Rasuk': 0,
 'Christian Bale': 1081041287,
 'Steve Carell': 114281051,
 'Ryan Gosling': 0,
 'Brad Pitt': 37930465,
 'Melissa Leo': 0,
 'Tom Cruise': 277759208,
 'Jeremy Renner': 276572938,
 'Simon Pegg': 0,
 'Rebecca Ferguson': 0,
 'Ving Rhames': 0,
 'Mark Wahlberg': 612468315,
 'Seth MacFarlane': 549368315,
 'Amanda Seyfried': 441809770,
 'Jessica Barth': 0,
 'Giovanni Ribisi': 612468315,
 'Taron Egerton': 0,
 'Colin Firth': 0,
 'Michael Caine': 1081041287,
 'Mark Strong': 416959816,
 'Liev Schreiber': 0,
 'John Slattery': 0,
 "Dylan O'Brien": 0,
 'Kaya Scodelario': 0,
 'Thomas Brodie-Sangster': 0,
 'Giancarlo Esposito': 30353232,
 'Aidan Gillen': 0,
 'Sharlto Copley': 0,
 'Dev Patel': 0,
 'Ninja': 0,
 'Yolandi Visser': 0,
 'Jose Pablo Cantillo': 0,
 'Anna Kendrick': 350316209,
 'Rebel Wilson': 115350426,
 'Hailee Steinfeld': 0,
 'Brittany Snow': 115350426,
 'Skylar Astin': 115350426,
 'Tom Hanks': 130482868,
 'Mark Rylance': 0,
 'Amy Ryan': 0,
 'Alan Alda': 0,
 'Sebastian Koch': 0,
 'Jack Black': 0,
 'Dylan Minnette': 0,
 'Odeya Rush': 0,
 'Jillian Bell': 0,
 'Brie Larson': 201585328,
 'Jacob Tremblay': 0,
 'Joan Allen': 0,
 'Sean Bridgers': 0,
 'William H. Macy': 0,
 'Raymond Ochoa': 0,
 'Jack Bright': 0,
 'Jeffrey Wright': 0,
 'Frances McDormand': 755060062,
 'Maleah Nipay-Padilla': 0,
 'Ed Harris': 46221189,
 'Joel Kinnaman': 208076205,
 'Boyd Holbrook': 0,
 'Bruce McGill': 0,
 'Saoirse Ronan': 0,
 'Emory Cohen': 0,
 'Emily Bett Rickards': 0,
 "Eileen O'Higgins": 0,
 "O'Shea Jackson Jr.": 0,
 'Corey Hawkins': 0,
 'Jason Mitchell': 0,
 'Neil Brown Jr.': 0,
 'Aldis Hodge': 0,
 'Rose Leslie': 0,
 'Elijah Wood': 0,
 'Ã“lafur Darri Ã“lafsson': 0,
 'Henry Cavill': 16863583,
 'Armie Hammer': 183018522,
 'Elizabeth Debicki': 0,
 'Luca Calvani': 0,
 'Blake Lively': 47000000,
 'Michiel Huisman': 0,
 'Ellen Burstyn': 0,
 'Kathy Baker': 0,
 'Haley Bennett': 0,
 'Danila Kozlovskiy': 0,
 'Tim Roth': 35485056,
 'Andrei Dementiev': 0,
 'Jim Parsons': 0,
 'Rihanna': 303025485,
 'Steve Martin': 0,
 'Jennifer Lopez': 79700000,
 'Matt Jones': 0,
 'Nat Wolff': 0,
 'Cara Delevingne': 0,
 'Halston Sage': 0,
 'Justice Smith': 0,
 'Austin Abrams': 0,
 'Rooney Mara': 0,
 'Kyle Chandler': 0,
 'Sarah Paulson': 0,
 'Jake Lacy': 0,
 'Robert De Niro': 205738714,
 'Anne Hathaway': 1522851057,
 'Rene Russo': 0,
 'Anders Holm': 0,
 'JoJo Kushner': 0,
 'Josh Brolin': 624026776,
 'John Hawkes': 0,
 'Sam Worthington': 347221189,
 'Edgar RamÃ\xadrez': 301000000,
 'Luke Bracey': 0,
 'Teresa Palmer': 0,
 'Delroy Lindo': 0,
 'Ray Winstone': 0,
 'Bradley Cooper': 218970175,
 'Sienna Miller': 0,
 'Uma Thurman': 0,
 'Ryan Reynolds': 208076205,
 'Ben Kingsley': 0,
 'Natalie Martinez': 48126384,
 'Matthew Goode': 0,
 'Michelle Dockery': 0,
 'Johnny Depp': 245527149,
 'Gwyneth Paltrow': 0,
 'Ewan McGregor': 213646729,
 'Paul Bettany': 0,
 'Olivia Munn': 167221571,
 'Matthias Schoenaerts': 0,
 'Amber Heard': 0,
 'Ben Whishaw': 0,
 'Leehom Wang': 0,
 'Tang Wei': 0,
 'Viola Davis': 0,
 'Holt McCallany': 0,
 'Emily Blunt': 100951751,
 'Benicio del Toro': 47000000,
 'Victor Garber': 232324128,
 'Jon Bernthal': 0,
 'Kate Mara': 0,
 'Michael B. Jordan': 145000000,
 'Jamie Bell': 46221189,
 'Toby Kebbell': 0,
 'Melissa McCarthy': 0,
 'Rose Byrne': 0,
 'Miranda Hart': 0,
 'Will Smith': 624026776,
 'Margot Robbie': 0,
 'Rodrigo Santoro': 0,
 'Robert Taylor': 0,
 'Gerald McRaney': 0,
 'Rupert Friend': 0,
 'Zachary Quinto': 0,
 'Hannah Ware': 0,
 'Emilio Rivera': 81272766,
 'Rolf Kanies': 0,
 'Benjamin Walker': 112265139,
 'Cillian Murphy': 0,
 'Brendan Gleeson': 356072317,
 'Sylvester Stallone': 312573423,
 'Graham McTavish': 0,
 'Tessa Thompson': 0,
 'Phylicia RashÄd': 0,
 'Amy Schumer': 0,
 'Colin Quinn': 0,
 'Vanessa Bayer': 0,
 'Helen Mirren': 0,
 'Aaron Paul': 0,
 'Alan Rickman': 0,
 'Iain Glen': 0,
 'Barkhad Abdi': 0,
 'Emily Browning': 0,
 'Christopher Eccleston': 0,
 'David Thewlis': 0,
 'Levi Miller': 0,
 'Garrett Hedlund': 8784318,
 'Hugh Jackman': 748751440,
 'Noah Schnapp': 0,
 'Bill Melendez': 0,
 'Venus Schultheis': 0,
 'Hadley Belle Miller': 0,
 'Madisyn Shipman': 0,
 'Bitsie Tulloch': 0,
 'Gugu Mbatha-Raw': 0,
 'Alec Baldwin': 366360283,
 'Matthew Willig': 0,
 'Joseph Gordon-Levitt': 78125599,
 'Seth Rogen': 0,
 'Anthony Mackie': 112265139,
 'Lizzy Caplan': 0,
 'Scott Eastwood': 0,
 'Lolita Davidovich': 0,
 'Melissa Benoist': 0,
 'Jack Huston': 0,
 'Andy Samberg': 58058367,
 'Selena Gomez': 358375603,
 'Steve Buscemi': 358375603,
 'Diane Keaton': 0,
 'John Goodman': 232324128,
 'Alan Arkin': 232324128,
 'Olivia Wilde': 25666239,
 'Charlotte Le Bon': 0,
 'Ben Schwartz': 0,
 'James Badge Dale': 0,
 'Ed Helms': 348840316,
 'Christina Applegate': 0,
 'Skyler Gisondo': 0,
 'Steele Stebbins': 0,
 'Sam Rockwell': 19422261,
 'Rosemarie DeWitt': 8138788,
 'Saxon Sharbino': 0,
 'Kyle Catlett': 0,
 'Kennedi Clements': 0,
 'Gary Oldman': 1081041287,
 'Noomi Rapace': 403170142,
 'Paddy Considine': 0,
 'Jason Bateman': 3428048,
 'Rebecca Hall': 0,
 'Joel Edgerton': 132820716,
 'David Denman': 0,
 'Beau Knapp': 0,
 'Will Ferrell': 0,
 'Linda Cardellini': 0,
 'Thomas Haden Church': 0,
 'Hannibal Buress': 0,
 'Jeff Bridges': 0,
 'Marion Cotillard': 0,
 'James Franco': 0,
 'Caroline Goodall': 16863583,
 'Judy Davis': 0,
 'Hayley Magnus': 0,
 'Mae Whitman': 0,
 'Robbie Amell': 0,
 'Bella Thorne': 0,
 'Bianca A. Santos': 0,
 'Skyler Samuels': 0,
 'Shannyn Sossamon': 0,
 'James Ransone': 0,
 'Tate Ellington': 0,
 'Nicholas King': 0,
 'Lucas Jade Zumann': 0,
 'Raini Rodriguez': 0,
 'Eduardo VerÃ¡stegui': 0,
 'Daniella Alonso': 0,
 'Neal McDonough': 0,
 'Jeremy Piven': 118338361,
 'Adrian Grenier': 0,
 'Jerry Ferrara': 96070507,
 'Kevin Connolly': 0,
 'Kevin Dillon': 0,
 'Kevin Hart': 96070507,
 'Kaley Cuoco': 0,
 'Affion Crockett': 0,
 'Jorge Garcia': 0,
 'Olivia DeJonge': 0,
 'Ed Oxenbould': 0,
 'Kathryn Hahn': 0,
 'Benjamin Kanes': 0,
 'Deanna Dunagan': 0,
 'Benedict Cumberbatch': 0,
 'Kevin Bacon': 0,
 'Adam Scott': 0,
 'Toni Collette': 0,
 'Allison Tolman': 0,
 'David Koechner': 8493728,
 'Emjay Anthony': 0,
 'Owen Wilson': 0,
 'Lake Bell': 0,
 'Pierce Brosnan': 0,
 'Sterling Jerins': 0,
 'Spencer Garrett': 0,
 'Tatiana Maslany': 0,
 'Katie Holmes': 0,
 'Max Irons': 0,
 'Tina Fey': 0,
 'John Leguizamo': 914138503,
 'Ike Barinholtz': 0,
 'Maya Rudolph': 0,
 'Jonny Weston': 0,
 'Virginia Gardner': 0,
 "Sofia Black-D'Elia": 0,
 'Sam Lerner': 0,
 'Allen Evangelista': 0,
 'Ed Skrein': 0,
 'Ray Stevenson': 0,
 'Loan Chabanol': 0,
 'Gabriella Wright': 0,
 'Tatjana PajkoviÄ‡': 0,
 'Mia Wasikowska': 53676580,
 'Tom Hiddleston': 0,
 'Charlie Hunnam': 0,
 'Jim Beaver': 0,
 'Matt Bomer': 0,
 'Joe Manganiello': 0,
 'Kevin Nash': 0,
 'Adam RodrÃ\xadguez': 0,
 'Chris J. Murray': 0,
 'Brit Shaw': 0,
 'Ivy George': 0,
 'Lauren Frandsen': 0,
 'Tyler Craig': 0,
 'Bryan Cranston': 540910192,
 'Diane Lane': 0,
 'Elle Fanning': 0,
 'Louis C.K.': 0,
 'Chiwetel Ejiofor': 0,
 'Nicole Kidman': 0,
 'Julia Roberts': 183018522,
 'Dean Norris': 0,
 'Lyndon Smith': 0,
 'Tom Kenny': 0,
 'Bill Fagerbakke': 0,
 'Rodger Bumpass': 0,
 'Clancy Brown': 0,
 'Carolyn Lawrence': 0,
 'Josh Wiggins': 0,
 'Lauren Graham': 0,
 'Mia Xitlali': 0,
 'Sean Penn': 0,
 'Jasmine Trinca': 0,
 'Javier Bardem': 1108561013,
 'Reese Witherspoon': 0,
 'SofÃ\xada Vergara': 54819301,
 'Michael Mosley': 0,
 'John Carroll Lynch': 0,
 'Richard T. Jones': 0,
 'Dermot Mulroney': 24719215,
 'Stefanie Scott': 0,
 'Lin Shaye': 0,
 'Leigh Whannell': 0,
 'Angus Sampson': 0,
 'Maggie Smith': 59520298,
 'Alex Jennings': 0,
 'Frances de la Tour': 0,
 'Gwen Taylor': 0,
 'Dominic Cooper': 112265139,
 'James McAvoy': 0,
 'Daniel Radcliffe': 127730736,
 'Jessica Brown Findlay': 0,
 'Andrew Scott': 0,
 'Charles Dance': 0,
 'Meryl Streep': 114281051,
 'Kevin Kline': 0,
 'Mamie Gummer': 0,
 'Sebastian Stan': 9627492,
 'Audra McDonald': 0,
 'Michael Ealy': 228470507,
 'Sanaa Lathan': 0,
 'Morris Chestnut': 0,
 'Kathryn Morris': 0,
 'Rutina Wesley': 0,
 'Ben Stiller': 746921274,
 'Naomi Watts': 180274123,
 'Charles Grodin': 0,
 'Alison Brie': 53909751,
 'Craig T. Nelson': 0,
 'T.I.': 0,
 'Carey Mulligan': 0,
 'Zac Efron': 348840316,
 'Emily Ratajkowski': 0,
 'Wes Bentley': 0,
 'Nick Rotteveel': 0,
 'Alessandro Lindblad': 0,
 'Jakob Salvati': 0,
 'Emily Watson': 0,
 'Cary-Hiroyuki Tagawa': 0,
 'Michael Rapaport': 0,
 'David Henrie': 0,
 'Emma Stone': 752215857,
 'John Krasinski': 32858003,
 'Bill Murray': 68263166,
 'Billy Bob Thornton': 0,
 'Zoe Kazan': 0,
 'Scoot McNairy': 37930465,
 'Zooey Deschanel': 0,
 'Bruce Willis': 449378341,
 'Kate Hudson': 0,
 'Taylor Kinney': 0,
 'Robert Redford': 0,
 'Nick Nolte': 0,
 'Emma Thompson': 1163009983,
 'Nick Offerman': 0,
 'Kristen Schaal': 0,
 'Vince Vaughn': 0,
 'Dave Franco': 201585328,
 'James Marsden': 0,
 'June Diane Raphael': 0,
 'Kevin Costner': 0,
 'Gillian Jacobs': 0,
 'Octavia Spencer': 0,
 'Bill Burr': 0,
 'Aubrey Peeples': 0,
 'Aurora Perrineau': 0,
 'Hayley Kiyoko': 0,
 'Barnaby Carpenter': 0,
 'Matthew McConaughey': 167221571,
 'Casey Affleck': 107139399,
 'Zoe Saldana': 13231461,
 'Dave Bautista': 0,
 'Keanu Reeves': 0,
 'Michael Nyqvist': 3428048,
 'Alfie Allen': 0,
 'Willem Dafoe': 284139100,
 'Dean Winters': 0,
 'Donald Sutherland': 0,
 'Martin Freeman': 1017003568,
 'Ian McKellen': 1017003568,
 'Richard Armitage': 1017003568,
 'Ken Stott': 0,
 'Scott Adsit': 0,
 'Ryan Potter': 0,
 'Daniel Henney': 0,
 'T.J. Miller': 0,
 'Jamie Chung': 31083599,
 'Keira Knightley': 0,
 'Rory Kinnear': 0,
 'Allen Leech': 0,
 'Ki Hong Lee': 0,
 'Aml Ameen': 0,
 'Blake Cooper': 0,
 'Zach Galifianakis': 0,
 'Edward Norton': 344836104,
 'Ben Affleck': 232324128,
 'Rosamund Pike': 519340595,
 'Carrie Coon': 0,
 'Neil Patrick Harris': 0,
 'Tyler Perry': 30353232,
 'Shia LaBeouf': 53676580,
 'Logan Lerman': 33400000,
 'Rami Malek': 0,
 'Robin Williams': 0,
 'Patrick Stewart': 0,
 'Michael Fassbender': 436542748,
 'Morgan Freeman': 0,
 'Choi Min-sik': 0,
 'Amr Waked': 0,
 'Julian Rhind-Tutt': 0,
 'Megan Fox': 267438319,
 'Will Arnett': 0,
 'William Fichtner': 0,
 'Alan Ritchson': 0,
 'Noel Fisher': 0,
 'Cameron Diaz': 79700000,
 'Jason Segel': 141968537,
 'Rob Corddry': 0,
 'Ellie Kemper': 201585328,
 'Rob Lowe': 0,
 'Riz Ahmed': 0,
 'Bill Paxton': 33372606,
 'Kevin Rahm': 0,
 'Stanley Tucci': 0,
 'Nicola Peltz': 0,
 'Jack Reynor': 0,
 'Li Bingbing': 240159255,
 'Tony Revolori': 0,
 'F. Murray Abraham': 0,
 'Mathieu Amalric': 0,
 'Adrien Brody': 0,
 'Andy Serkis': 1017003568,
 'Keri Russell': 0,
 'Judy Greer': 0,
 'Denzel Washington': 208076205,
 'Marton Csokas': 0,
 'ChloÃ« Grace Moretz': 0,
 'David Harbour': 48126384,
 'Jason Sudeikis': 0,
 'Charlie Day': 0,
 'Jennifer Aniston': 24159934,
 'Kevin Spacey': 0,
 'Andrew Garfield': 752215857,
 'Jamie Foxx': 425368238,
 'Dane DeHaan': 145000000,
 'Colm Feore': 0,
 'Jonas Armstrong': 0,
 'Randall Park': 0,
 'Diana Bang': 0,
 'Kyle Gallner': 0,
 'Cole Konis': 0,
 'Ben Reed': 0,
 'John Turturro': 0,
 'Ben Mendelsohn': 37930465,
 'Aaron Taylor-Johnson': 47000000,
 'Ken Watanabe': 0,
 'Elizabeth Olsen': 0,
 'Juliette Binoche': 6063556,
 'Angelina Jolie': 0,
 'Juno Temple': 0,
 'Isobelle Molloy': 0,
 'Olga Kurylenko': 0,
 'Bill Smitrovich': 0,
 'Amila Terzimehic': 0,
 'Olivia Cooke': 0,
 'Ana Coto': 0,
 'Daren Kagasoff': 0,
 'Douglas Smith': 0,
 'Jay Baruchel': 0,
 'Gerard Butler': 0,
 'Jonah Hill': 201585328,
 'Mel Gibson': 0,
 'Craig Berry': 0,
 'David Burrows': 0,
 'Julianne Moore': 0,
 'Ben Barnes': 0,
 'Kit Harington': 52302796,
 'Felicity Jones': 0,
 'Harry Lloyd': 0,
 'Jake Johnson': 0,
 'Damon Wayans Jr.': 0,
 'Nina Dobrev': 33400000,
 'Rob Riggle': 348840316,
 "James D'Arcy": 0,
 'Luke Evans': 29657751,
 'Sarah Gadon': 6063556,
 'Art Parkinson': 0,
 'Tom McGrath': 0,
 'Chris Miller': 0,
 'Christopher Knights': 0,
 'Conrad Vernon': 0,
 'John Malkovich': 0,
 'James Corden': 0,
 'Chris Pine': 319376448,
 'Sullivan Stapleton': 0,
 'Eva Green': 0,
 'Lena Headey': 41037742,
 'Callan Mulvey': 0,
 'David Wenham': 0,
 'Brenton Thwaites': 0,
 'Alexander SkarsgÃ¥rd': 303025485,
 'Ice Cube': 0,
 'Dan Stevens': 0,
 'Adam David Thompson': 0,
 'Peter Capaldi': 0,
 'Michael Gambon': 59520298,
 'Imelda Staunton': 0,
 'Adriana Barraza': 0,
 'Felicity Huffman': 0,
 'Jon Favreau': 0,
 'Frank Grillo': 3428048,
 'Carmen Ejogo': 24637469,
 'Zach Gilford': 0,
 'Kiele Sanchez': 0,
 'ZoÃ« Borde': 0,
 'Nicolas Cage': 2106557,
 'Chad Michael Murray': 0,
 'Lea Thompson': 0,
 'Nicky Whelan': 0,
 'Martin Klebba': 183018522,
 'Albert Brooks': 0,
 'Elyes Gabel': 0,
 'David Oyelowo': 268705972,
 'Ian McShane': 396600000,
 'John Hurt': 0,
 'Rufus Sewell': 112265139,
 'Aksel Hennie': 0,
 'Russell Crowe': 441809770,
 'Jennifer Connelly': 0,
 'Emma Watson': 33400000,
 'Anthony Hopkins': 0,
 'Robert Duvall': 0,
 'Vera Farmiga': 208076205,
 'Jeremy Strong': 0,
 'Drew Barrymore': 24719215,
 'Wendi McLendon-Covey': 0,
 'Terry Crews': 0,
 'Jamie Blackley': 0,
 'Liana Liberato': 0,
 'Mireille Enos': 0,
 'Stacy Keach': 276572938,
 'Ryan Guzman': 140470746,
 'Briana Evigan': 0,
 'Stephen Boss': 140470746,
 'Misha Gabriel': 0,
 'Izabella Miko': 0,
 'Laura Dern': 28258060,
 'Sam Trammell': 0,
 'Tika Sumpter': 0,
 'Joaquin Phoenix': 28258060,
 'Katherine Waterston': 0,
 'Nonso Anozie': 0,
 'Gemma Chan': 0,
 'Nate Parker': 0,
 'Ethan Hawke': 0,
 'Sarah Snook': 0,
 'Noah Taylor': 0,
 'Christopher Kirby': 0,
 'Madeleine West': 0,
 'Abbie Cornish': 19422261,
 'Jackie Earle Haley': 245527149,
 'Leslie Mann': 88058786,
 'Kate Upton': 0,
 'Don Johnson': 0,
 'Nikolaj Coster-Waldau': 0,
 'Ty Burrell': 0,
 'Max Charles': 0,
 'Ariel Winter': 0,
 'Mickey Rourke': 0,
 'Jessica Alba': 0,
 'Rosario Dawson': 4636169,
 'Jesse Eisenberg': 0,
 'Andy GarcÃ\xada': 9622846,
 'Jim Carrey': 0,
 'Rachel Melvin': 0,
 'Kathleen Turner': 0,
 'Brady Bluhm': 0,
 "Jack O'Connell": 0,
 'Takamasa Ishihara': 0,
 'Finn Wittrock': 0,
 'Tom Wilkinson': 0,
 'AndrÃ© Holland': 0,
 'Omar J. Dorsey': 0,
 'Carrie-Anne Moss': 52302796,
 'Adewale Akinnuoye-Agbaje': 0,
 'Jessica Lucas': 0,
 'QuvenzhanÃ© Wallis': 0,
 "Chris O'Dowd": 0,
 'Terrence Howard': 50365377,
 'Imogen Poots': 0,
 'RamÃ³n RodrÃ\xadguez': 0,
 'Manish Dayal': 0,
 'Om Puri': 0,
 'Rohan Chand': 0,
 'Isaac Hempstead Wright': 0,
 'Dee Bradley Baker': 0,
 'Steve Blum': 0,
 'Amy Adams': 28258060,
 'Krysten Ritter': 0,
 'Danny Huston': 2106557,
 'Jason Schwartzman': 0,
 'Jason Patric': 0,
 'John Cusack': 29657751,
 'Jessica Lowndes': 0,
 'Gia Mantegna': 0,
 'Sarah Wayne Callies': 0,
 'Matt Walsh': 0,
 'Nathan Kress': 0,
 'Alycia Debnam-Carey': 0,
 'Dane Cook': 0,
 'Julie Bowen': 0,
 'Curtis Armstrong': 0,
 'John Michael Higgins': 0,
 'Harold Perrineau': 0,
 'Idris Elba': 403170142,
 'Taraji P. Henson': 0,
 'Leslie Bibb': 0,
 'Kate del Castillo': 0,
 'Henry Simmons': 0,
 'Perdita Weeks': 0,
 'Ben Feldman': 0,
 'Edwin Hodge': 0,
 'FranÃ§ois Civil': 0,
 'Marion Lambert': 0,
 'Vanessa Redgrave': 0,
 'Alex Pettyfer': 167221571,
 'Gabriella Wilde': 0,
 'Robert Patrick': 0,
 'Rhys Wakefield': 0,
 'Emma Rigby': 0,
 'Guy Pearce': 489050752,
 'Robert Pattinson': 835063556,
 'Nash Edgerton': 0,
 'Anthony Hayes': 0,
 'Michelle Williams': 0,
 'Kristin Scott Thomas': 0,
 'Sam Riley': 8784318,
 'Ruth Wilson': 0,
 'Annabelle Wallis': 0,
 'Alfre Woodard': 0,
 'Eric Ladin': 0,
 'Tony Amendola': 0,
 'Gabriel Bateman': 0,
 'Aaron Eckhart': 0,
 'Yvonne Strahovski': 0,
 'Bill Nighy': 198802074,
 'Miranda Otto': 0,
 'Mackenzie Davis': 0,
 'David Belle': 0,
 'RZA': 0,
 'Robert Maillet': 0,
 'Carlo Rota': 0,
 'Susan Sarandon': 93543423,
 'Kathy Bates': 0,
 'Dan Aykroyd': 0,
 'Colin Farrell': 218224335,
 'William Hurt': 0,
 'Maika Monroe': 0,
 'Sheila Kelley': 0,
 'Ethan Embry': 0,
 'Joel David Moore': 0,
 'Isabel Lucas': 44806783,
 'Damon Herriman': 0,
 'Jennifer Garner': 0,
 'Kerris Dorsey': 0,
 'Regina Hall': 96070507,
 'Joy Bryant': 0,
 'Christopher McDonald': 0,
 'Suraj Sharma': 609016565,
 'Aasif Mandvi': 179379533,
 'KryÅ¡tof HÃ¡dek': 0,
 'Paul Brannigan': 0,
 'Michael Moreland': 0,
 'Scott Dymond': 0,
 'Kristen Bell': 24719215,
 'Jason Dohring': 0,
 'Enrico Colantoni': 0,
 'Chris Lowell': 0,
 'Percy Daggs III': 0,
 'Roma Downey': 0,
 'Diogo Morgado': 0,
 'Louise Delamere': 0,
 'Darwin Shaw': 0,
 'Amber Rose Revah': 0,
 'Jim Caviezel': 0,
 'Michael Chiklis': 0,
 "Ser'Darius Blain": 0,
 'Ashley Hinshaw': 0,
 "Denis O'Hare": 0,
 'James Buckley': 0,
 'Christa Nicola': 0,
 'Amir K': 0,
 'Mary Elizabeth Winstead': 112265139,
 'Michael Sheen': 0,
 'Ray Liotta': 37930465,
 'Ashley Judd': 0,
 'Nathan Gamble': 0,
 'Cozi Zuehlsdorff': 0,
 'Harry Connick Jr.': 0,
 'Ricky Gervais': 0,
 'Steve Whitmire': 0,
 'Eric Jacobson': 0,
 'Greg Kinnear': 0,
 'Kelly Reilly': 0,
 'Connor Corum': 0,
 'Jon Ted Wynne': 0,
 'Kellan Lutz': 0,
 'Liam McIntyre': 0,
 'Gaia Weiss': 0,
 'Scott Adkins': 0,
 'Roxanne McKee': 0,
 'Sarah Drew': 0,
 'Sean Astin': 0,
 'Patricia Heaton': 0,
 'Logan White': 0,
 'Robert Amaya ': 0,
 'Teo Halm': 0,
 'Astro': 0,
 'Resse Hartwig': 0,
 'Ella Wahlestedt': 0,
 'Jason Gray-Stanford': 0,
 'Michael Kenneth Williams': 0,
 'Jessica Lange': 196114570,
 'Taylor Kitsch': 634164585,
 'Gordon Pinsent': 0,
 'Liane Balaban': 0,
 'Mark Critch': 0,

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [79]:
answer_ls.append(1)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [80]:
answer_ls.append(1)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [81]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [82]:
answer_ls.append(1)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [83]:
answer_ls.append(1)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [84]:
answer_ls.append(1)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [85]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [86]:
answer_ls.append(1)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [87]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [88]:
answer_ls.append(1)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [89]:
answer_ls.append(1)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [90]:
answer_ls.append(1)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [91]:
answer_ls.append(1)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [92]:
answer_ls.append(1)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [93]:
answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [94]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [95]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [96]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [97]:
answer_ls.append(1)

# Submission

In [98]:
len(answer_ls)

36

In [99]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       1
3    4       1
4    5       1
5    6       1
6    7       1
7    8       1
8    9       1
9   10       1
10  11       1
11  12       1
12  13       1
13  14       1
14  15       1
15  16       1
16  17       1
17  18       1
18  19       1
19  20       1
20  21       1
21  22       1
22  23       1
23  24       1
24  25       1
25  26       1
26  27       1
27  28       1
28  29       1
29  30       1
30  31       1
31  32       1
32  33       1
33  34       1
34  35       1
35  36       1