In [2]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов': '+79053049385',
    'Алина Егорова': '+79265748370',
     'Руслан Башаров': '+79030598495',
}
print(employee_base['Мария Никитина'])

+79033923029

In [4]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов': '+79053049385',
    'Алина Егорова': '+79265748370',
     'Руслан Башаров': '+79030598495',
}
print(employee_base['Алина Егорова'])

+79265748370

In [5]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов': '+79053049385',
    'Алина Егорова': '+79265748370',
     'Руслан Башаров': '+79030598495',
}
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    if name in employee_base:
        print(employee_base[name])
    else:
        print('Неизвестный сотрудник')

+79033923029
+78125849204
Неизвестный сотрудник

In [6]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
country = 'Италия'
if country in draw_dict:
    group = draw_dict[country]
else:
    group = 'unknown'

In [7]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
country = 'Италия'
draw_dict.setdefault(country, 'unknown')
group = draw_dict[country]
group

'unknown'

In [9]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for employee in employee_base:
    print(employee)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [11]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for employee in employee_base.keys():
    print(employee)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [12]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for employee in employee_base:
    print(employee, employee_base[employee])

Мария Никитина менеджер
Егор Савичев разработчик
Александр Пахомов дизайнер
Алина Егорова разработчик
Руслан Башаров верстальщик

In [13]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for employee in employee_base:
    if employee_base[employee] == 'разработчик':
        print(employee)

Егор Савичев
Алина Егорова

In [21]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}
for country in draw_dict:
    if draw_dict[country] == 'A':
        draw_new[country] = draw_dict[country]
draw_new

{'Россия': 'A', 'Египет': 'A'}

In [16]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for position in employee_base.values():
    print(position)

менеджер
разработчик
дизайнер
разработчик
верстальщик

In [17]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
c = 0
for position in employee_base.values():
    if position == 'разработчик':
        c +=1
print(c)

2

In [18]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for employee, position in employee_base.items():
    print(employee, position)

Мария Никитина менеджер
Егор Савичев разработчик
Александр Пахомов дизайнер
Алина Егорова разработчик
Руслан Башаров верстальщик

In [19]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'
}
for employee, position in employee_base.items():
    if position == 'разработчик':
        print(employee)

Егор Савичев
Алина Егорова

In [23]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}
for country, group in draw_dict.items():
    if group == 'A':
        draw_new[country] = group
draw_new

{'Россия': 'A', 'Египет': 'A'}

In [26]:
spendings = {
    '2019-04-01': 2504,
    '2019-04-02': 4994,
    '2019-04-03': 6343,
}
sum = 0
for spending in spendings.values():
    sum += spending
sum

13841

In [29]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
if phones['Кузнецова Дарья'] == 5142:
	print('Номер верен')
for name, phone in phones.items():
	if name == 'Кузнецова Дарья' and phone == 5142:
		print('Номер верен')
for record in phones:
	if record == 'Кузнецова Дарья' and phones[record] == 5142:
		print('Номер верен')

Номер верен
Номер верен
Номер верен