In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("./"))

['.ipynb_checkpoints', 'data.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [4]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [5]:
len(data)

1890

# Предобработка датасета

In [6]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
display(data[data.budget == data.budget.max()].original_title)
display(data[data.budget == data.budget.max()].budget)
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

491    425000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
display(data[data.runtime == data.runtime.max()].original_title)
display(data[data.runtime == data.runtime.max()].runtime)
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

1158    214
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
display(data[data.runtime == data.runtime.min()].original_title)
display(data[data.runtime == data.runtime.min()].runtime)
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

769    63
Name: runtime, dtype: int64

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [10]:
print(data.runtime.mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [11]:
print(data.runtime.median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [12]:
data['net_income'] = (data['revenue']) - (data['budget'])
display(data.loc[data.net_income == data.net_income.max()].original_title)
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [13]:
display(data.loc[data.net_income == data.net_income.min()].original_title)
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [14]:
print(data.loc[data.net_income > 0].original_title.count())
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [15]:
data_2008 = data.loc[data.release_year == 2008]
display(data_2008.loc[data_2008.net_income == data_2008.net_income.max()].original_title)
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?

Варианты ответов:

1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [16]:
data_1214 = data.loc[(data.release_year >= 2012) & (data.release_year <= 2014)]
display(data_1214.loc[data_1214.net_income == data_1214.net_income.min()].original_title)
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

11. Какого жанра фильмов больше всего?

Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [17]:
Action = data[data.genres.str.contains("Action", na=False)].original_title.count()
Adventure = data[data.genres.str.contains("Adventure", na=False)].original_title.count()
Drama = data[data.genres.str.contains("Drama", na=False)].original_title.count()
Comedy = data[data.genres.str.contains("Comedy", na=False)].original_title.count()
Thriller = data[data.genres.str.contains("Thriller", na=False)].original_title.count()
genres = {
    'Action': Action,
    'Adventure': Adventure,
    'Drama': Drama,
    'Comedy': Comedy,
    'Thriller': Thriller,
}
print(genres)
answer_ls.append(3)

{'Action': 583, 'Adventure': 416, 'Drama': 782, 'Comedy': 683, 'Thriller': 597}

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [18]:
p_data = data.loc[data.net_income > 0]
Action = p_data[p_data.genres.str.contains("Action", na=False)].original_title.count()
Adventure = p_data[p_data.genres.str.contains("Adventure", na=False)].original_title.count()
Drama = p_data[p_data.genres.str.contains("Drama", na=False)].original_title.count()
Comedy = p_data[p_data.genres.str.contains("Comedy", na=False)].original_title.count()
Thriller = p_data[p_data.genres.str.contains("Thriller", na=False)].original_title.count()
genres = {
    'Action': Action,
    'Adventure': Adventure,
    'Drama': Drama,
    'Comedy': Comedy,
    'Thriller': Thriller,
}
print(genres)
answer_ls.append(1)

{'Action': 444, 'Adventure': 337, 'Drama': 560, 'Comedy': 551, 'Thriller': 446}

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [137]:
import operator

#display(data['director'].value_counts())

directors_raw = data['director']
directors = []
for line in directors_raw:
    directors_in_line = line.split('|')
    for director in directors_in_line:
        if director not in actors:        
            directors.append(director)

directors.sort()
directors_films = {}     

for director in directors:
    data_director = data[data.director.str.contains(director, na=False)]
    director_films = data_director['original_title'].count()
    directors_films[director] = director_films

directors_films
#print(max(directors_films.items(), key=operator.itemgetter(1))[0])

#answer_ls.append(3)

{'Aaron Seltzer': 5,
 'Adam McKay': 6,
 'Adam Shankman': 8,
 'Adam Wingard': 1,
 'Adrian Lyne': 1,
 'Akiva Goldsman': 1,
 'Alan Parker': 1,
 'Alan Poul': 1,
 'Alan Taylor': 2,
 'Alastair Fothergill': 1,
 'Albert Hughes': 2,
 'Alejandro Agresti': 1,
 'Alejandro AmenÃ¡bar': 2,
 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu': 4,
 'Alejandro Monteverde': 1,
 'Aleksander Bach': 1,
 'Alex Garland': 1,
 'Alex Kurtzman': 1,
 'Alex Proyas': 2,
 'Alexander Payne': 4,
 'Alexander Witt': 1,
 'Alexandre Aja': 3,
 'Alfonso CuarÃ³n': 3,
 'Alister Grierson': 1,
 'Allen Hughes': 3,
 'Amma Asante': 1,
 'Amy Heckerling': 1,
 'Anand Tucker': 1,
 'Andrew Adamson': 4,
 'Andrew Davis': 2,
 'Andrew Dominik': 2,
 'Andrew Douglas': 1,
 'Andrew Erwin': 1,
 'Andrew Niccol': 3,
 'Andrew Stanton': 3,
 'Andrzej Bartkowiak': 5,
 'Andy Fickman': 6,
 'Andy Muschietti': 1,
 'Andy Tennant': 4,
 'Ang Lee': 3,
 'Angela Robinson': 1,
 'Anne Fletcher': 4,
 'Anthony Bell': 1,
 'Anthony Hemingway': 1,
 'Anthony Leondis': 1,
 'Anthony Minghella': 1,
 'Anthony Russo': 2,
 'Anthony Silverston': 1,
 'Anthony Stacchi': 2,
 'Antoine Fuqua': 8,
 'Antony Hoffman': 1,
 'Ari Sandel': 1,
 'Ariel Schulman': 2,
 'Asger Leth': 1,
 'Ash Brannon': 1,
 'Asif Kapadia': 1,
 'Atom Egoyan': 1,
 'Ava DuVernay': 1,
 'Baltasar KormÃ¡kur': 3,
 'Barbet Schroeder': 1,
 'Barry Cook': 1,
 'Barry Levinson': 4,
 'Barry Sonnenfeld': 4,
 'Baz Luhrmann': 3,
 'Beeban Kidron': 1,
 'Ben Falcone': 1,
 'Ben Garant': 1,
 'Ben Gluck': 1,
 'Ben Younger': 1,
 'Bennett Miller': 3,
 'Benny Chan': 1,
 'Benson Lee': 1,
 'Betty Thomas': 3,
 'Bibo Bergeron': 2,
 'Bill Condon': 4,
 'Bille Woodruff': 2,
 'Billy Ray': 1,
 'BjÃ¶rn Stein': 1,
 'Boaz Yakin': 4,
 'Bobby Farrelly': 9,
 'Brad Anderson': 3,
 'Brad Bird': 4,
 'Brad Furman': 2,
 'Brad Lewis': 1,
 'Brad Peyton': 3,
 'Brad Silberling': 2,
 'Brandon Camp': 1,
 'Breck Eisner': 3,
 'Brenda Chapman': 1,
 'Brendan Malloy': 1,
 'Brett Ratner': 8,
 'Brian A Miller': 1,
 'Brian De Palma': 2,
 'Brian Helgeland': 4,
 'Brian Klugman': 1,
 'Brian Koppelman': 2,
 'Brian Levant': 3,
 'Brian Robbins': 6,
 'Brian Taylor': 4,
 'Bruce A. Evans': 1,
 'Bruce Beresford': 2,
 'Bruce Hunt': 1,
 'Bruce Robinson': 1,
 'Bryan Bertino': 1,
 'Bryan Singer': 5,
 'Burr Steers': 3,
 'Byron Howard': 2,
 'Callan Brunker': 1,
 'Cameron Crowe': 5,
 'Camille Delamarre': 2,
 'Carl Franklin': 2,
 'Carl Rinsch': 1,
 'Carlos Saldanha': 5,
 'Catherine Hardwicke': 3,
 'Chad Stahelski': 1,
 'Charles Herman-Wurmfeld': 1,
 'Charles Martin Smith': 2,
 'Charles Shyer': 1,
 'Charles Stone III': 2,
 'Chris Buck': 2,
 'Chris Butler': 1,
 'Chris Carter': 1,
 'Chris Columbus': 5,
 'Chris Gorak': 1,
 'Chris Koch': 1,
 'Chris Nahon': 1,
 'Chris Noonan': 1,
 'Chris Renaud': 3,
 'Chris Sivertson': 1,
 'Chris Weitz': 3,
 'Chris Williams': 2,
 'Christian Alvart': 2,
 'Christian Duguay': 1,
 'Christian E. Christiansen': 1,
 'Christine Jeffs': 1,
 'Christophe Gans': 1,
 'Christopher B. Landon': 1,
 'Christopher Erskin': 1,
 'Christopher Guest': 1,
 'Christopher McQuarrie': 2,
 'Christopher Miller': 4,
 'Christopher Nolan': 8,
 'Christopher Spencer': 1,
 'Chuck Russell': 1,
 'Ciaran Foy': 1,
 'Clare Kilner': 1,
 'Clark Johnson': 2,
 'Cody Cameron': 1,
 'Colin Strause': 1,
 'Colin Trevorrow': 1,
 'Corey Yuen Kwai': 1,
 'Cory Edwards': 1,
 'Courtney Solomon': 2,
 'Craig Brewer': 3,
 'Craig Gillespie': 2,
 'Craig Mazin': 1,
 'Curtis Hanson': 1,
 'D.J. Caruso': 5,
 'DJ Pooh': 1,
 'Dan Bradley': 1,
 'Dan Cutforth': 1,
 'Dan Gilroy': 1,
 'Dan Rush': 1,
 'Dan Scanlon': 1,
 'Dan St. Pierre': 1,
 'Daniel Barber': 1,
 'Daniel Barnz': 2,
 'Daniel Espinosa': 2,
 'Daniel Sackheim': 1,
 'Danny Boyle': 6,
 'Danny Cannon': 1,
 'Danny Leiner': 2,
 'Danny Pang': 1,
 'Darren Aronofsky': 4,
 'Darren Lynn Bousman': 2,
 'Dave Green': 1,
 'Dave Meyers': 1,
 'David Ayer': 4,
 'David Barrett': 1,
 'David Bowers': 4,
 'David Cronenberg': 4,
 'David Dobkin': 5,
 'David E. Talbert': 1,
 'David Fincher': 6,
 'David Frankel': 4,
 'David Gordon Green': 4,
 'David Hackl': 1,
 'David Koepp': 3,
 'David Leitch': 1,
 'David Leland': 1,
 'David Levien': 2,
 'David Lynch': 1,
 'David M. Rosenthal': 1,
 'David Mackenzie': 1,
 'David Mamet': 1,
 'David McNally': 1,
 'David MichÃ´d': 1,
 'David Moreau': 1,
 'David O. Russell': 3,
 'David R. Ellis': 5,
 'David Raynr': 1,
 'David S. Goyer': 3,
 'David Silverman': 2,
 'David Slade': 2,
 'David Soren': 1,
 'David Twohy': 4,
 'David Wain': 2,
 'David Yates': 4,
 'David Zucker': 2,
 'Davis Guggenheim': 1,
 'Dean DeBlois': 3,
 'Dean Israelite': 1,
 'Dean Parisot': 1,
 'Dean Wright': 1,
 'Demian Lichtenstein': 1,
 'Denis Villeneuve': 2,
 'Dennie Gordon': 1,
 'Dennis Dugan': 7,
 'Derek Cianfrance': 1,
 'Derrick Borte': 1,
 'Des McAnuff': 1,
 'Dewey Nicks': 1,
 'Dito Montiel': 1,
 'Dominic Sena': 4,
 'Don Bluth': 1,
 'Don Hall': 2,
 'Don Mancini': 1,
 'Don McKellar': 1,
 'Don Michael Paul': 1,
 'Don Scardino': 1,
 'Donald Petrie': 4,
 'Donovan Cook': 1,
 'Doug Atchison': 1,
 'Doug Ellin': 1,
 'Doug Lefler': 1,
 'Doug Liman': 5,
 'Douglas Aarniokoski': 1,
 'Douglas McGrath': 1,
 'Drew Goddard': 1,
 'Duncan Jones': 2,
 'E. Elias Merhige': 1,
 'Ed Gass-Donnelly': 1,
 'Edgar Wright': 2,
 'Edward Zwick': 4,
 'Elizabeth Allen Rosenbaum': 1,
 'Emmett Malloy': 1,
 'Eric Bress': 1,
 'Eric Brevig': 2,
 'Eric Darnell': 4,
 'Eric Leighton': 1,
 'Ericson Core': 1,
 'Ernest R. Dickerson': 1,
 'Etan Cohen': 1,
 'Ethan Coen': 4,
 'Ethan Maniquis': 1,
 'Evan Goldberg': 2,
 'F. Gary Gray': 5,
 'Fede Alvarez': 1,
 'Feng Xiaogang': 1,
 'Fernando Meirelles': 1,
 'Florent-Emilio Siri': 1,
 'Floria Sigismondi': 1,
 'Florian Henckel von Donnersmarck': 1,
 'Francine McDougall': 1,
 'Francis Lawrence': 6,
 'Frank Coraci': 4,
 'Frank Darabont': 2,
 'Frank Marshall': 1,
 'Frank Miller': 3,
 'Frank Oz': 2,
 'FranÃ§ois Ozon': 1,
 'Fred Savage': 1,
 'Fred Wolf': 1,
 'Frederik Du Chau': 1,
 'Fyodor Bondarchuk': 1,
 'Gabriele Muccino': 2,
 'Gareth Edwards': 1,
 'Garth Jennings': 1,
 'Gary Chapman': 1,
 'Gary Fleder': 4,
 'Gary Goldman': 1,
 'Gary McKendry': 1,
 'Gary Ross': 2,
 'Gary Shore': 1,
 'Gary Trousdale': 1,
 'Gary Winick': 2,
 'Gavin Hood': 4,
 "Gavin O'Connor": 1,
 'Genndy Tartakovsky': 2,
 'Geoffrey Sax': 2,
 'George A. Romero': 1,
 'George Armitage': 1,
 'George Lucas': 2,
 'George Miller': 3,
 'George Nolfi': 1,
 'George Tillman, Jr.': 2,
 'Gil Kenan': 3,
 'Gina Prince-Bythewood': 2,
 'Giuseppe Tornatore': 1,
 'Glen Morgan': 1,
 'Glenn Ficarra': 3,
 'Gonzalo LÃ³pez-Gallego': 1,
 'Gore Verbinski': 8,
 'Graham Annable': 1,
 'Grant Heslov': 1,
 'Greg Berlanti': 1,
 'Greg Coolidge': 1,
 'Greg Mottola': 3,
 'Greg Strause': 1,
 'Gregory Hoblit': 3,
 'Gregory Jacobs': 1,
 'Gregory Plotkin': 1,
 'Gregory Poirier': 1,
 'Griffin Dunne': 1,
 'GrÃ©gory Levasseur': 1,
 'Guillaume Canet': 1,
 'Guillermo del Toro': 5,
 'Gus Van Sant': 3,
 'Guy Ferland': 1,
 'Guy Ritchie': 5,
 'GÃ¡bor CsupÃ³': 2,
 'Harald Zwart': 3,
 'Harmony Korine': 1,
 'Harold Becker': 1,
 'Harold Cronk': 1,
 'Harold Ramis': 2,
 'Hayden Schlossberg': 2,
 'Henry Alex Rubin': 1,
 'Henry Joost': 2,
 'Henry Selick': 2,
 'Hironobu Sakaguchi': 1,
 'Howard Deutch': 2,
 'Howard McCain': 1,
 'Hoyt Yeatman': 1,
 'Iain Softley': 3,
 'Ilya Naishuller': 1,
 'Ivan Reitman': 2,
 'J. Mackye Gruber': 1,
 'J.B. Rogers': 1,
 'J.C. Chandor': 2,
 'J.J. Abrams': 5,
 'Jack Sholder': 1,
 'Jaco Van Dormael': 1,
 'Jake Kasdan': 3,
 'Jake Schreier': 1,
 'James Bobin': 2,
 'James Cameron': 2,
 'James Cox': 1,
 'James DeMonaco': 1,
 'James Duffy': 1,
 'James Foley': 1,
 'James Gray': 1,
 'James Gunn': 2,
 'James Isaac': 1,
 'James L. Brooks': 2,
 'James Mangold': 5,
 'James Marsh': 1,
 'James Mather': 1,
 'James McTeigue': 4,
 'James Wan': 4,
 'James Watkins': 1,
 'James Wong': 2,
 'Jan Pinkava': 1,
 'Jan de Bont': 1,
 'Jane Campion': 1,
 'Jane Lipsitz': 1,
 'Jared Hess': 1,
 'Jason Eisener': 1,
 'Jason Friedberg': 5,
 'Jason Moore': 2,
 'Jason Reitman': 4,
 'Jason Winer': 1,
 'Jaume Collet-Serra': 5,
 'Javier Abad': 1,
 'Jay Chandrasekhar': 2,
 'Jay Duplass': 1,
 'Jay Roach': 5,
 'Jay Russell': 2,
 'Jean-FranÃ§ois Richet': 1,
 'Jean-Jacques Annaud': 2,
 'Jean-Marc VallÃ©e': 2,
 'Jeff Newitt': 1,
 'Jeff Nichols': 1,
 'Jeff Schaffer': 1,
 'Jeff Tremaine': 3,
 'Jeff Wadlow': 1,
 'Jennifer Flackett': 1,
 'Jennifer Lee': 1,
 'Jennifer Yuh': 1,
 'Jeremy Garelick': 1,
 'Jerry Zucker': 1,
 'Jesse Dylan': 3,
 'Jesse Peretz': 1,
 'Jessie Nelson': 2,
 'Jill Culton': 1,
 'Jim Fall': 1,
 'Jim Field Smith': 1,
 'Jim Gillespie': 1,
 'Jim Jarmusch': 1,
 'Jim Sheridan': 3,
 'Jim Sonzero': 1,
 'Jimmy Hayward': 3,
 'Joby Harold': 1,
 'Jocelyn Moorhouse': 1,
 'Joe Carnahan': 3,
 'Joe Cornish': 1,
 'Joe Dante': 1,
 'Joe Johnston': 3,
 'Joe Nussbaum': 2,
 'Joe Ranft': 1,
 'Joe Roth': 1,
 'Joe Russo': 2,
 'Joe Wright': 5,
 'Joel Coen': 6,
 'Joel Gallen': 1,
 'Joel Schumacher': 5,
 'Joel Zwick': 1,
 'John A. Davis': 2,
 'John Bonito': 1,
 'John Boorman': 1,
 'John Carney': 1,
 'John Carpenter': 1,
 'John Crowley': 1,
 'John Curran': 1,
 'John Dahl': 2,
 'John Erick Dowdle': 4,
 'John Francis Daley': 1,
 'John Frankenheimer': 1,
 'John Gulager': 1,
 'John Hamburg': 2,
 'John Herzfeld': 1,
 'John Hillcoat': 2,
 'John Landis': 1,
 'John Lasseter': 2,
 'John Lee Hancock': 4,
 'John Luessenhop': 2,
 'John Madden': 3,
 'John Maybury': 1,
 'John McTiernan': 1,
 'John Michael McDonagh': 1,
 'John Moore': 5,
 'John Musker': 2,
 'John Patrick Shanley': 1,
 'John Polson': 1,
 'John R. Leonetti': 1,
 'John Requa': 3,
 'John Sanford': 1,
 'John Schultz': 1,
 'John Singleton': 5,
 'John Stevenson': 1,
 'John Stockwell': 3,
 'John Wells': 3,
 'John Whitesell': 2,
 'John Woo': 3,
 'Jon Amiel': 1,
 'Jon Avnet': 2,
 'Jon Erwin': 1,
 'Jon Hurwitz': 2,
 'Jon Kasdan': 1,
 'Jon Lucas': 1,
 'Jon M. Chu': 4,
 'Jon Turteltaub': 5,
 'Jonas Elmer': 1,
 'Jonathan Dayton': 1,
 'Jonathan Demme': 2,
 'Jonathan Glazer': 1,
 'Jonathan Hensleigh': 1,
 'Jonathan Levine': 3,
 'Jonathan Liebesman': 3,
 'Jonathan Lynn': 2,
 'Jonathan M. Goldstein': 1,
 'Jonathan Mostow': 3,
 'Jonathan Teplitzky': 1,
 'Jonathan van Tulleken': 1,
 'Jorge Blanco': 1,
 'Joseph Kahn': 1,
 'Joseph Kosinski': 2,
 'Joseph Ruben': 1,
 'Josh Boone': 1,
 'Josh Gordon': 1,
 'Josh Schwartz': 1,
 'Josh Trank': 2,
 'Joshua Michael Stern': 2,
 'Joss Whedon': 2,
 'JosÃ© Padilha': 1,
 'Juan Antonio Bayona': 1,
 'Juan Carlos Fresnadillo': 1,
 'Juan Diego Solanas': 1,
 'Judd Apatow': 5,
 'Julian Jarrold': 2,
 'Julie Anne Robinson': 1,
 'Julie Taymor': 1,
 'Justin Chadwick': 1,
 'Justin Lin': 5,
 'Justin Zackham': 1,
 'Karey Kirkpatrick': 1,
 'Karyn Kusama': 2,
 'Kasi Lemmons': 1,
 'Kathryn Bigelow': 3,
 'Keenen Ivory Wayans': 4,
 'Kelly Asbury': 3,
 'Ken Kwapis': 5,
 'Ken Scott': 2,
 'Kerry Conran': 1,
 'Kevin Allen': 1,
 'Kevin Bray': 1,
 'Kevin Greutert': 2,
 'Kevin Lima': 2,
 'Kevin Macdonald': 3,
 'Kevin Munroe': 2,
 'Kevin Reynolds': 1,
 'Kevin Rodney Sullivan': 2,
 'Kevin Smith': 4,
 'Kimberly Peirce': 1,
 'Kirk De Micco': 2,
 'Kirk Jones': 2,
 'Kirk Wise': 1,
 'Kirsten Sheridan': 1,
 'Klay Hall': 1,
 'Kris Pearn': 1,
 'Kurt Wimmer': 1,
 'Kyle Balda': 2,
 'Lana Wachowski': 5,
 'Larry Charles': 2,
 'Lars von Trier': 1,
 'Lasse HallstrÃ¶m': 7,
 'Lawrence Guterman': 1,
 'Lawrence Kasdan': 1,
 'Lee Daniels': 2,
 'Lee Sternthal': 1,
 'Lee Tamahori': 5,
 'Lee Toland Krieger': 1,
 'Lee Unkrich': 3,
 'Leigh Whannell': 1,
 'Len Wiseman': 4,
 'Lenny Abrahamson': 1,
 'Les Mayfield': 1,
 'Lexi Alexander': 1,
 'Liam Lynch': 1,
 'Lilly Wachowski': 5,
 'Liz Friedlander': 1,
 'Lone Scherfig': 2,
 'Lorna Cook': 1,
 'Louis Leterrier': 6,
 'Loveleen Tandan': 1,
 'Luc Besson': 2,
 'Luis Mandoki': 2,
 'Luke Greenfield': 4,
 'M. Night Shyamalan': 8,
 'Mabrouk El Mechri': 1,
 'Malcolm D. Lee': 4,
 'Marc Forster': 7,
 'Marc Lawrence': 3,
 'Marc Webb': 3,
 'Marcel Langenegger': 1,
 'Marco Schnabel': 1,
 'Marcos MartÃ\xadnez': 1,
 'Marcus Nispel': 4,
 'Marcus Raboy': 1,
 'Mark Andrews': 1,
 'Mark Dindal': 2,
 'Mark Duplass': 1,
 'Mark Helfrich': 1,
 'Mark Herman': 1,
 'Mark Levin': 1,
 'Mark Linfield': 1,
 'Mark Mylod': 1,
 'Mark Neveldine': 4,
 'Mark Osborne': 2,
 'Mark Pellington': 1,
 'Mark Romanek': 2,
 'Mark Rosman': 1,
 'Mark Steven Johnson': 2,
 'Mark Waters': 5,
 'Martin Brest': 1,
 'Martin Campbell': 5,
 'Martin McDonagh': 2,
 'Martin Scorsese': 6,
 'Mary Harron': 1,
 'Mary Lambert': 1,
 'Matt Bettinelli-Olpin': 1,
 'Matt Reeves': 3,
 "Matthew O'Callaghan": 1,
 'Matthew Robinson': 1,
 'Matthew Vaughn': 4,
 'Matthijs van Heijningen Jr.': 1,
 'Max Joseph': 1,
 'McG': 13,
 'Mennan Yapo': 1,
 'Michael Apted': 2,
 'Michael Bay': 8,
 'Michael Caton-Jones': 2,
 'Michael Cristofer': 1,
 'Michael Cuesta': 1,
 'Michael Davis': 1,
 'Michael Dougherty': 1,
 'Michael Dowse': 2,
 'Michael Haneke': 1,
 'Michael Hoffman': 1,
 'Michael J. Bassett': 2,
 'Michael Lembeck': 3,
 'Michael Mann': 5,
 'Michael McCullers': 1,
 'Michael Moore': 3,
 'Michael Patrick King': 2,
 'Michael Rymer': 1,
 'Michael Spierig': 2,
 'Michael Sucsy': 1,
 'Michael Winterbottom': 1,
 'Michel Gondry': 2,
 'Michel Hazanavicius': 1,
 'Miguel Arteta': 2,
 'Miguel Sapochnik': 1,
 'Mikael HÃ¥fstrÃ¶m': 4,
 'Mike Binder': 2,
 'Mike Disa': 1,
 'Mike Flanagan': 1,
 'Mike Johnson': 1,
 'Mike Judge': 1,
 'Mike McCoy': 1,
 'Mike Mitchell': 3,
 'Mike Newell': 3,
 'Mike Nichols': 2,
 'Mike Thurmeier': 1,
 'Mike Tollin': 2,
 'Mimi Leder': 1,
 'Mira Nair': 2,
 'Mort Nathan': 1,
 'Morten Tyldum': 1,
 'Motonori Sakakibara': 1,
 'MÃ¥ns MÃ¥rlind': 1,
 'Nancy Meyers': 5,
 'Nanette Burstein': 1,
 'Nathan Greno': 1,
 'Neil Burger': 3,
 'Neil LaBute': 3,
 'Neil Marshall': 2,
 'Neil Nightingale': 1,
 'Neill Blomkamp': 3,
 'Nicholas Hytner': 1,
 'Nicholas Jarecki': 1,
 'Nicholas Stoller': 4,
 'Nick Cassavetes': 4,
 'Nick Hamm': 1,
 'Nick Hurran': 2,
 'Nick Park': 2,
 'Nicolas Winding Refn': 1,
 'Nigel Cole': 2,
 'Niki Caro': 1,
 'Nima Nourizadeh': 1,
 'NimrÃ³d Antal': 4,
 'Noah Baumbach': 1,
 'Noam Murro': 2,
 'Nora Ephron': 2,
 'Olatunde Osunsanmi': 1,
 'Ole Bornedal': 1,
 'Oliver Hirschbiegel': 2,
 'Oliver Parker': 1,
 'Oliver Stone': 5,
 'Olivier Megaton': 4,
 'Oxide Pang Chun': 1,
 'P.J. Hogan': 2,
 'Paolo Sorrentino': 1,
 "Pat O'Connor": 1,
 'Patrick Hughes': 1,
 'Patrick Lussier': 3,
 'Patrick Tatopoulos': 1,
 'Patrik Forsberg': 1,
 'Patty Jenkins': 1,
 'Paul Abascal': 1,
 'Paul Feig': 3,
 'Paul Greengrass': 5,
 'Paul Haggis': 3,
 'Paul Johansson': 1,
 'Paul King': 1,
 'Paul McGuigan': 4,
 'Paul Schrader': 1,
 'Paul Thomas Anderson': 3,
 'Paul Tibbitt': 1,
 'Paul Verhoeven': 1,
 'Paul W.S. Anderson': 7,
 'Paul Weiland': 1,
 'Paul Weitz': 5,
 'Penny Marshall': 1,
 'Pete Docter': 3,
 'Pete Travis': 2,
 'Peter Billingsley': 1,
 'Peter Bogdanovich': 1,
 'Peter Cattaneo': 1,
 'Peter Chelsom': 3,
 'Peter Farrelly': 10,
 'Peter Hedges': 1,
 'Peter Hewitt': 2,
 'Peter Howitt': 2,
 'Peter Hyams': 2,
 'Peter Jackson': 8,
 'Peter Landesman': 1,
 'Peter Lord': 2,
 'Peter Ramsey': 1,
 'Peter Segal': 6,
 'Peter Sollett': 1,
 'Peter Spierig': 2,
 'Peter Webber': 1,
 'Peter Weir': 2,
 'Peyton Reed': 5,
 'Phil Joanou': 1,
 'Phil Lord': 4,
 'Phil Traill': 1,
 'Philip G. Atwell': 1,
 'Philip Kaufman': 2,
 'Phillip Noyce': 2,
 'Phyllida Lloyd': 2,
 'Pierre Coffin': 3,
 'Pierre Morel': 3,
 'Pitof': 1,
 'Quentin Tarantino': 7,
 'R.J. Cutler': 1,
 'Rachid Bouchareb': 1,
 'Raja Gosnell': 6,
 'Rajkumar Hirani': 1,
 'Ralph Zondag': 1,
 'Raman Hui': 1,
 'Randall Wallace': 3,
 'Rawson Marshall Thurber': 1,
 'Reginald Hudlin': 2,
 'Renny Harlin': 5,
 'Rian Johnson': 2,
 'Ric Roman Waugh': 1,
 'Rich Moore': 1,
 'Richard Curtis': 2,
 'Richard Donner': 2,
 'Richard Eyre': 1,
 'Richard J. Lewis': 1,
 'Richard Kelly': 1,
 'Richard LaGravenese': 2,
 'Richard Linklater': 4,
 'Richard Loncraine': 2,
 'Richard Shepard': 1,
 'Rick Rosenthal': 1,
 'Ricky Gervais': 1,
 'Ridley Scott': 12,
 'Rob Bowman': 2,
 'Rob Cohen': 6,
 'Rob Letterman': 4,
 'Rob Marshall': 4,
 'Rob Minkoff': 4,
 'Rob Pritts': 1,
 'Rob Schmidt': 1,
 'Rob Thomas': 1,
 'Rob Zombie': 4,
 'Robert Altman': 1,
 'Robert B. Weide': 1,
 'Robert Iscove': 2,
 'Robert Luketic': 6,
 'Robert Pulcini': 1,
 'Robert Rodriguez': 11,
 'Robert Schwentke': 4,
 'Robert Stevenhagen': 1,
 'Robert Stromberg': 1,
 'Robert Zemeckis': 6,
 'Roberts Gannaway': 1,
 'Robin Budd': 1,
 'Rod Lurie': 2,
 'Rodrigo GarcÃ\xada': 1,
 'Roger Allers': 1,
 'Roger Donaldson': 3,
 'Roger Kumble': 2,
 'Roger Michell': 2,
 'Roger Spottiswoode': 1,
 'Roland Emmerich': 5,
 'Roland JoffÃ©': 1,
 'Roman Polanski': 3,
 'Ron Clements': 2,
 'Ron Howard': 8,
 'Ron Shelton': 1,
 'Ron Underwood': 1,
 'Ronald F. Maxwell': 1,
 'Ronny Yu': 1,
 'Ruben Fleischer': 3,
 'Rupert Sanders': 1,
 'Rupert Wainwright': 1,
 'Rupert Wyatt': 2,
 'Russell Mulcahy': 1,
 'Rusty Cundieff': 1,
 'Ryan Coogler': 1,
 'Ryan Murphy': 1,
 'RyÃ»hei Kitamura': 1,
 'Salim Akil': 2,
 'Sam Fell': 3,
 'Sam Mendes': 5,
 'Sam Miller': 1,
 'Sam Raimi': 6,
 'Sam Taylor-Johnson': 1,
 'Samuel Bayer': 1,
 'Sanjay Gadhvi': 1,
 'Sara Sugarman': 1,
 'Sarah Gavron': 1,
 'Saul Dibb': 1,
 'Scott Cooper': 3,
 'Scott Derrickson': 2,
 'Scott Frank': 2,
 'Scott Hicks': 2,
 'Scott Moore': 1,
 'Scott Speer': 1,
 'Scott Stewart': 2,
 'Scott Walker': 1,
 'Scott Waugh': 2,
 'Sean Anders': 3,
 'Sean McNamara': 1,
 'Sergey Bodrov': 1,
 'Seth Gordon': 3,
 'Shana Feste': 2,
 'Shane Acker': 1,
 'Shane Black': 1,
 'Shari Springer Berman': 1,
 'Sharon Maguire': 1,
 'Shawn Levy': 10,
 'Shekhar Kapur': 2,
 'Sidney Lumet': 1,
 'Simon Curtis': 2,
 'Simon Hunter': 1,
 'Simon J. Smith': 2,
 'Simon Wells': 2,
 'Simon West': 5,
 'Simon Wincer': 1,
 'Sngmoo Lee': 1,
 'Sofia Coppola': 2,
 'Spike Jonze': 2,
 'Spike Lee': 2,
 'Stefen Fangmeier': 1,
 'Stephen Anderson': 1,
 'Stephen Chbosky': 1,
 'Stephen Daldry': 3,
 'Stephen Frears': 3,
 'Stephen Gaghan': 2,
 'Stephen Herek': 1,
 'Stephen Hillenburg': 1,
 'Stephen Hopkins': 1,
 'Stephen J. Anderson': 1,
 'Stephen Kay': 1,
 'Stephen Norrington': 1,
 'Stephen Sommers': 3,
 'Stephen St. Leger': 1,
 'Stephen T. Kay': 1,
 "Steve 'Spaz' Williams": 1,
 'Steve Antin': 1,
 'Steve Beck': 1,
 'Steve Bendelack': 1,
 'Steve Box': 1,
 'Steve Carr': 6,
 'Steve Hickner': 1,
 'Steve Martino': 3,
 'Steve McQueen': 1,
 'Steve Oedekerk': 1,
 'Steve Pink': 3,
 'Steve Purcell': 1,
 'Steve Shill': 1,
 'Steve Trenbirth': 1,
 'Steven Brill': 3,
 'Steven Knight': 1,
 'Steven Quale': 2,
 'Steven Shainberg': 1,
 'Steven Soderbergh': 13,
 'Steven Spielberg': 10,
 'Steven Zaillian': 1,
 'Stewart Hendler': 2,
 'Stiles White': 1,
 'Stuart Baird': 1,
 'Stuart Beattie': 2,
 'Susanna White': 1,
 'Susannah Grant': 1,
 'Susanne Bier': 1,
 'Sydney Pollack': 1,
 'Sylvain White': 1,
 'Takashi Shimizu': 2,
 'Tamra Davis': 1,
 'Tarsem Singh': 4,
 'Tate Taylor': 1,
 'Taylor Hackford': 2,
 'Ted Demme': 1,
 'Terrence Malick': 1,
 'Terry George': 1,
 'Terry Gilliam': 1,
 'Terry Zwigoff': 1,
 'Theodore Melfi': 1,
 'Thomas Bezucha': 1,
 'Thomas Carter': 3,
 'Thor Freudenthal': 3,
 'Tim Burton': 9,
 'Tim Hill': 3,
 'Tim Johnson': 2,
 'Tim Story': 6,
 'Timur Bekmambetov': 2,
 'Toby Wilkins': 1,
 'Todd Edwards': 1,
 'Todd Graff': 1,
 'Todd Haynes': 3,
 'Todd Lincoln ': 1,
 'Todd Phillips': 8,
 'Todd Strauss-Schulson': 1,
 'Tom Dey': 3,
 'Tom Gormican': 1,
 'Tom Hooper': 3,
 'Tom McCarthy': 1,
 'Tom Shadyac': 3,
 'Tom Tykwer': 3,
 'Tom Vaughan': 2,
 "Tommy O'Haver": 1,
 'Tommy Wirkola': 1,
 'Tony Bill': 1,
 'Tony Gilroy': 3,
 'Tony Leech': 1,
 'Tony Scott': 6,
 'Trey Parker': 1,
 'Trish Sie': 1,
 'Troy Duffy': 1,
 'Troy Miller': 1,
 'Troy Nixey': 1,
 'Tyler Gillett': 1,
 'Uli Edel': 1,
 'Uwe Boll': 3,
 'Valerie Faris': 1,
 'Vic Armstrong': 1,
 'Vicky Jenson': 3,
 'Victor Salva': 2,
 'Vipul Amrutlal Shah': 1,
 'Wally Pfister': 1,
 'Walt Becker': 2,
 'Walter Hill': 3,
 'Walter Salles': 2,
 'Wayne Kramer': 1,
 'Wayne Wang': 3,
 'Wes Anderson': 5,
 'Wes Ball': 2,
 'Wes Craven': 5,
 'Will Finn': 1,
 'Will Gluck': 3,
 'Will Graham': 1,
 'Will Speck': 1,
 'William Brent Bell': 1,
 'William Dear': 1,
 'William Friedkin': 3,
 'William Malone': 1,
 'William Monahan': 1,
 'Wolfgang Petersen': 3,

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [20]:
display(p_data['director'].value_counts())
answer_ls.append(4)

Ridley Scott           12
Steven Spielberg       10
Clint Eastwood         10
Steven Soderbergh      10
Shawn Levy              9
                       ..
Steve Box|Nick Park     1
Stephen Kay             1
Ed Gass-Donnelly        1
Juan Antonio Bayona     1
Ronny Yu                1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [21]:
#data.groupby(['director'])[['net_income']].sum().sort_values(['net_income'],ascending=False).head(5)
display(data.groupby(['director'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(5))
answer_ls.append(5)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [22]:
import operator

actors_raw = data['cast']
actors = []
for line in actors_raw:
    actors_in_line = line.split('|')
    for actor in actors_in_line:
        if actor not in actors:        
            actors.append(actor)

actors_income = {}     

for actor in actors:
    data_actor = data[data.cast.str.contains(actor, na=False)]
    actor_income = data_actor['revenue'].sum()
    actors_income[actor] = actor_income

print(max(actors_income.items(), key=operator.itemgetter(1))[0])
answer_ls.append(1)

Emma Watson

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [23]:
data_raw = data[data.release_year == 2012]

actors_raw = data_raw['cast']
actors = []
for line in actors_raw:
    actors_in_line = line.split('|')
    for actor in actors_in_line:
        if actor not in actors:        
            actors.append(actor)

actors_income = {}

for actor in actors:    
    data_actor = data_raw[data_raw.cast.str.contains(actor, na=False)]
    actor_income = data_actor['revenue'].sum()
    actors_income[actor] = actor_income

print(min(actors_income.items(), key=operator.itemgetter(1))[0])
answer_ls.append(1)

Nicolas Cage

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [24]:
data_raw = data[data.budget > data.budget.mean()]
actors_raw = data_raw['cast']
actors = []
for line in actors_raw:
    actors_in_line = line.split('|')
    for actor in actors_in_line:
        if actor not in actors:        
            actors.append(actor)
            
actors_films = {}

for actor in actors:    
    films_number = data_raw[data_raw.cast.str.contains(actor, na=False)].original_title.count()
    actors_films[actor] = films_number
            
print(max(actors_films.items(), key=operator.itemgetter(1))[0])
answer_ls.append(3)

Matt Damon

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [25]:
data_raw = data[(data.cast.str.contains('Nicolas Cage', na=False))]
genres_raw = data_raw['genres']
genres = []
for line in genres_raw:
    genres_in_line = line.split('|')
    for genre in genres_in_line:
        if genre not in genres:        
            genres.append(genre)
            
genre_films = {}

for genre in genres:    
    films_number = data_raw[data_raw.genres.str.contains(genre, na=False)].original_title.count()
    genre_films[genre] = films_number
    
print(max(genre_films.items(), key=operator.itemgetter(1))[0])
answer_ls.append(2)

Action

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [26]:
companies_raw = data['production_companies']
companies = []
for line in companies_raw:
    companies_in_line = line.split('|')
    for company in companies_in_line:
        if company not in companies:        
            companies.append(company)

companies_films = {}

for company in companies:
    films_number = data[data.production_companies.str.contains(company, na=False)].original_title.count()
    companies_films[company] = films_number

print(max(companies_films.items(), key=operator.itemgetter(1))[0])
answer_ls.append(1)

D:\dev\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Universal

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [27]:
data_raw = data[data.release_year == 2015]
companies_raw = data_raw['production_companies']
companies = []
for line in companies_raw:
    companies_in_line = line.split('|')
    for company in companies_in_line:
        if company not in companies:        
            companies.append(company)

companies_films = {}

for company in companies:
    films_number = data[data.production_companies.str.contains(company, na=False)].original_title.count()
    companies_films[company] = films_number

print(max(companies_films.items(), key=operator.itemgetter(1))[0])
answer_ls.append(4)

Warner Bros.

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [28]:
data_raw = data[(data.genres.str.contains('Comedy', na=False))]
companies_raw = data_raw['production_companies']
companies = []
for line in companies_raw:
    companies_in_line = line.split('|')
    for company in companies_in_line:
        if company not in companies:        
            companies.append(company)

companies_income = {}            
for company in companies:
    data_company = data_raw[data_raw.production_companies.str.contains(company, na=False)]
    company_income = data_company['net_income'].sum()
    companies_income[company] = company_income

print(max(companies_income.items(), key=operator.itemgetter(1))[0])

answer_ls.append(2)

Universal

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [29]:
data_raw = data[data.release_year == 2012]
companies_raw = data_raw['production_companies']
companies = []
for line in companies_raw:
    companies_in_line = line.split('|')
    for company in companies_in_line:
        if company not in companies:        
            companies.append(company)

companies_income = {}            
for company in companies:
    data_company = data_raw[data_raw.production_companies.str.contains(company, na=False)]
    company_income = data_company['net_income'].sum()
    companies_income[company] = company_income

print(max(companies_income.items(), key=operator.itemgetter(1))[0])
answer_ls.append(3)

Columbia Pictures

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [30]:
data_raw = data[(data.production_companies.str.contains('Paramount Pictures', na=False))]
display(data_raw.loc[data_raw.net_income == data_raw.net_income.min()].original_title)
            
answer_ls.append(1)

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [31]:
display(data.groupby(['release_year'])['net_income'].sum().sort_values(ascending=False))
            
answer_ls.append(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: net_income, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [32]:
data_raw = data[(data.production_companies.str.contains('Warner Bros', na=False))]
display(data_raw.groupby(['release_year'])['net_income'].sum().sort_values(ascending=False))
answer_ls.append(1)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: net_income, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [33]:
def get_month(date):
    m = date.split('/')[0]
    return int(m)

data['release_month'] = data.release_date.apply(get_month)
display(data['release_month'].value_counts())

answer_ls.append(4)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [34]:
data_raw = data.query('release_month in [6, 7, 8]')
print(data_raw.original_title.count())

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [35]:
data_raw = data.query('release_month in [1, 2, 12]')
display(data_raw['director'].value_counts())

                      
answer_ls.append(5)

Peter Jackson              7
Clint Eastwood             6
Steven Soderbergh          6
Adam Shankman              4
Nancy Meyers               4
                          ..
Jesse Dylan                1
Robin Budd|Donovan Cook    1
Tom Shadyac                1
Steve Pink                 1
Stephen Kay                1
Name: director, Length: 333, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [65]:
years = data['release_year'].unique()

data2 = data.pivot_table(columns = 'release_year', index = 'release_month', values = 'net_income', aggfunc = 'sum')

for year in years:
    print(data2[year].sort_values(ascending=False).head(1))

answer_ls.append(2)

release_month
6    3757679861
Name: 2015, dtype: int64
release_month
5    2279978281
Name: 2014, dtype: int64
release_month
12    3423239738
Name: 2009, dtype: int64
release_month
6    2449561498
Name: 2010, dtype: int64
release_month
12    1703868124
Name: 2001, dtype: int64
release_month
6    1943384763
Name: 2008, dtype: int64
release_month
7    2331661017
Name: 2011, dtype: int64
release_month
12    1848074177
Name: 2002, dtype: int64
release_month
6    2965481705
Name: 2012, dtype: int64
release_month
5    2000292657
Name: 2003, dtype: int64
release_month
6    2411922008
Name: 2013, dtype: int64
release_month
5    1575566228
Name: 2005, dtype: int64
release_month
6    2098059770
Name: 2006, dtype: int64
release_month
5    2412578839
Name: 2004, dtype: int64
release_month
6    2764341802
Name: 2007, dtype: int64
release_month
12    1411487999
Name: 2000, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [73]:
def get_title_length(title):
    length = len(title)
    return length

data['release_month'] = data.release_date.apply(get_month)
companies_raw = data['production_companies']
companies = []
for line in companies_raw:
    companies_in_line = line.split('|')
    for company in companies_in_line:
        if company not in companies:        
            companies.append(company)

data_raw = data

data_raw['title_length'] = data_raw.original_title.apply(get_title_length)

companies_title_length = {}            
for company in companies:
    data_company = data[data.production_companies.str.contains(company, na=False)]
    company_title_length = data_company['title_length'].mean()
    companies_title_length[company] = company_title_length

print(max(companies_title_length.items(), key=operator.itemgetter(1))[0])

answer_ls.append(5)

Four By Two Productions

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [76]:
def get_title_length(title):
    length = len(title.split())
    return length

data['release_month'] = data.release_date.apply(get_month)
companies_raw = data['production_companies']
companies = []
for line in companies_raw:
    companies_in_line = line.split('|')
    for company in companies_in_line:
        if company not in companies:        
            companies.append(company)

data_raw = data

data_raw['title_length'] = data_raw.original_title.apply(get_title_length)

companies_title_length = {}            
for company in companies:
    data_company = data[data.production_companies.str.contains(company, na=False)]
    company_title_length = data_company['title_length'].mean()
    companies_title_length[company] = company_title_length

print(max(companies_title_length.items(), key=operator.itemgetter(1))[0])

answer_ls.append(5)

Four By Two Productions

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [88]:
titles = data['original_title'].unique()
titles_words = []


for title in titles:
    words = title.lower().split()
    for word in words:
        if word not in titles_words:
            titles_words.append(word)
 
titles_words.sort()

print(len(titles_words))

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?

Варианты ответа:

1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [112]:
r = (data.vote_average.value_counts(normalize=True, bins=16) *100, 0)

display(data.loc[data['original_title'].isin(['Inside Out','Gone Girl','12 Years a Slave'])]['vote_average'])
#display(data.loc[data['original_title'].isin(['BloodRayne','The Adventures of Rocky & Bullwinkle'])]['vote_average'])
#display(data.loc[data['original_title'].isin(['300','Lucky Number Slevin'])]['vote_average'])
#display(data.loc[data['original_title'].isin(['The Lord of the Rings: The Return of the King', 'Upside Down'])]['vote_average'])
#display(r)

answer_ls.append(1)

9       8.0
128     7.9
1192    7.9
Name: vote_average, dtype: float64

# 35. Какие актеры чаще всего снимаются в одном фильме вместе

Варианты ответа:

1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [120]:
print('Johnny Depp & Helena Bonham Carter - ' + str(data[(data.cast.str.contains('Johnny Depp', na=False)) & (data.cast.str.contains('Helena Bonham Carter', na=False))].original_title.count()))
print('Hugh Jackman & Ian McKellen - ' + str(data[(data.cast.str.contains('Hugh Jackman', na=False)) & (data.cast.str.contains('Ian McKellen', na=False))].original_title.count()))
print('Vin Diesel & Paul Walker - ' + str(data[(data.cast.str.contains('Vin Diesel', na=False)) & (data.cast.str.contains('Paul Walker', na=False))].original_title.count()))
print('Adam Sandler & Kevin James - ' + str(data[(data.cast.str.contains('Adam Sandler', na=False)) & (data.cast.str.contains('Kevin James', na=False))].original_title.count()))
print('Daniel Radcliffe & Rupert Grint - ' + str(data[(data.cast.str.contains('Daniel Radcliffe', na=False)) & (data.cast.str.contains('Rupert Grint', na=False))].original_title.count()))

answer_ls.append(5)

Johnny Depp & Helena Bonham Carter - 6
Hugh Jackman & Ian McKellen - 5
Vin Diesel & Paul Walker - 5
Adam Sandler & Kevin James - 5
Daniel Radcliffe & Rupert Grint - 8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [132]:
directors = ["Quentin Tarantino", "Steven Soderbergh","Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]
data_raw = data.query('director in ["Quentin Tarantino", "Steven Soderbergh","Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]')

directors_profitability = {}

for director in directors:   
    profitability = data[(data.director.str.contains(director, na=False)) & (data.net_income > 0)].original_title.count() / data[data.director.str.contains(director, na=False)].original_title.count()
    directors_profitability[director] = profitability
    
display(directors_profitability)

answer_ls.append(4)

{'Quentin Tarantino': 0.8571428571428571,
 'Steven Soderbergh': 0.7692307692307693,
 'Robert Rodriguez': 0.7272727272727273,
 'Christopher Nolan': 1.0,
 'Clint Eastwood': 0.8333333333333334}

# Submission

In [98]:
len(answer_ls)

36

In [99]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       1
3    4       1
4    5       1
5    6       1
6    7       1
7    8       1
8    9       1
9   10       1
10  11       1
11  12       1
12  13       1
13  14       1
14  15       1
15  16       1
16  17       1
17  18       1
18  19       1
19  20       1
20  21       1
21  22       1
22  23       1
23  24       1
24  25       1
25  26       1
26  27       1
27  28       1
28  29       1
29  30       1
30  31       1
31  32       1
32  33       1
33  34       1
34  35       1
35  36       1