In [2]:
my_list = '10,11,12,13,14,15,16,17,18,19'.split()
print(my_list)

['10,11,12,13,14,15,16,17,18,19']

In [4]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split()
print(animals)

['кошка,собака,хомяк,морская', 'свинка,попугай,лошадь']

In [5]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[0])
print(animals[2])
print(animals[3])

кошка
хомяк
морская свинка

In [7]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[-1])
print(animals[-2])
print(animals[-6])

лошадь
попугай
кошка

In [21]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']
print(OurBestStudents[10])

Павел

In [27]:
colors = ['красный', 'оранжевый', 'жёлтый', 'зелёный', 'голубой', 'синий', 'фиолетовый']
colors[1:4]
colors[-5:5]
colors[-3:]
colors[:3]

['красный', 'оранжевый', 'жёлтый']

In [47]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
#body[3:7]
#body[-3:7]
#body[-5:7]
#body[-5:-1]
#body[-1:-5]
#body(3:-1)
#body[-1:]
#body[7:-1]
body
body[:]
body[1:]
body[1:3]
body[-7:-5]

['руки', 'ноги']

In [53]:
rabbits = ['Пушок', 'Дружок', 'Мурзик', 'Барсик', 'Эдуард', 'Ушастик', 'Роджер', 'Трус']
rabbits[0:7:2]
rabbits[:7:2]
rabbits[0::2]
rabbits[::2]
rabbits[7::-2]
rabbits[:0:-2]
rabbits[::-2]

['Трус', 'Ушастик', 'Барсик', 'Дружок']

In [58]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
sparta[0:9:2]
sparta[1:9:3]
sparta[0:9:5]
sparta[::-3]
sparta[-2:1:-3]

['Капустин', 'Козлов', 'Сидоров']

In [59]:
my_list = [1, 2, 3, 4, 5]
my_list.append(100500)
print(my_list)

[1, 2, 3, 4, 5, 100500]

In [60]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for salary in old_salary:
    new_salary.append(salary * 1.9)

print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [61]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort()
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [62]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

In [63]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = False)
print(my_list)

['апельсин', 'банан', 'вишня', 'груша', 'дыня']

In [64]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = True)
print(my_list)

['дыня', 'груша', 'вишня', 'банан', 'апельсин']

In [65]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
lowest_salary = min(salary)
print(lowest_salary)

29000

In [66]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
highest_salary = max(salary)
print(highest_salary)

100000

In [67]:
my_friends = ['Дмитрий', 'Евгений', 'Елена', 'Михаил', 'Елена', 'Татьяна', 'Антон', 'Елена']
popular_name = my_friends.count('Елена')
print(popular_name)

3

In [68]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [70]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)
my_list[5]
print(my_list)

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [71]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [73]:
list = []
result = 0
for i in range(1, 51):
    if i % 3 == 0:
        list.append(i)
for item in list:
    result += item
print(result)

408

In [77]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list = []
for i in raw_list:
    my_list.append(len(i))
result = min(my_list) + max(my_list)
print(result)

15

In [78]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)
my_list = []
for i in raw_list:
    if i % 2 == 0:
        my_list.append(i * x_min)
    else:
        my_list.append(i * x_max)
result = max(my_list)
print(result)

5041

In [79]:
my_list = [x for x in range(1, 25, 2)]
my_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [80]:
my_list = [x for x in range(10, 100) if x%3 == 0 and x%5 == 0]
my_list

[15, 30, 45, 60, 75, 90]