In [1]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [2]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Belgium      3
Germany      3
Argentina    3
Uruguay      3
France       2
Poland       1
England      1
Portugal     1
Slovenia     1
Croatia      1
Italy        1
Brazil       1
Name: Nationality, dtype: int64

In [3]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts()
s.index

Index(['Spain', 'Belgium', 'Germany', 'Argentina', 'Uruguay', 'France',
       'Poland', 'England', 'Portugal', 'Slovenia', 'Croatia', 'Italy',
       'Brazil'],
      dtype='object')

In [4]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts()
len(s)

13

In [5]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts()
s['Germany']

3

In [6]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts()
s.loc[s > 1]

Spain        4
Belgium      3
Germany      3
Argentina    3
Uruguay      3
France       2
Name: Nationality, dtype: int64

In [9]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df['Club'].value_counts()
len(s)

650

In [13]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df['Club'].value_counts()
display(s)

V-Varen Nagasaki     30
Shonan Bellmare      30
Vissel Kobe          29
Padova               29
De Graafschap        29
                     ..
Cruzeiro              8
GD Chaves             7
Vitória Guimarães     7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [15]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
s = small_df['Nationality'].value_counts(normalize=True)
display(s*100)

Spain        16.0
Belgium      12.0
Germany      12.0
Argentina    12.0
Uruguay      12.0
France        8.0
Poland        4.0
England       4.0
Portugal      4.0
Slovenia      4.0
Croatia       4.0
Italy         4.0
Brazil        4.0
Name: Nationality, dtype: float64

In [16]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df['Position'].value_counts(normalize=True)
display(s*100)

GK     12.723889
ST     11.723657
CB     10.878499
CM      8.273242
LB      7.769249
RB      7.350547
RM      5.939366
LM      5.644724
CDM     5.357835
CAM     4.908118
RCB     3.241064
LCB     3.171280
LW      1.876405
RCM     1.860898
RW      1.837637
LCM     1.806622
LDM     1.147554
RDM     1.070016
LS      0.938203
RS      0.883926
RWB     0.542762
LWB     0.465224
CF      0.395441
LF      0.062030
RF      0.046522
LAM     0.046522
RAM     0.038769
Name: Position, dtype: float64

In [23]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[0:7]].head(25)

s = small_df['Wage'].value_counts(bins=4)
#display(s)
s.index
s.index[3]
s.index[3].left
s.index[3].right
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [24]:
import pandas as pd

df = pd.read_csv('data_sf.csv')

s = df['FKAccuracy'].value_counts(bins=5)
display(s)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [27]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[0:7]].head(25)
print(small_df['Nationality'].unique())
print(len(small_df['Nationality'].unique()))

['Argentina' 'Portugal' 'Brazil' 'Spain' 'Belgium' 'Croatia' 'Uruguay'
 'Slovenia' 'Poland' 'Germany' 'France' 'England' 'Italy']
13

In [28]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[0:7]].head(25)
small_df['Nationality'].nunique()

13

In [35]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
#result = len(df['Position'].unique)
#result = df['Position'].nunique()
#result = len(df['Position'].unique())
#result = df['Position'].unique()
#result = df['Position'].count()
result = len(df['Position'].value_counts())

result

27

In [37]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
s_df.columns = ['Nationality','Players Count']
display(s_df)

   Nationality  Players Count
0        Spain              4
1      Belgium              3
2      Germany              3
3    Argentina              3
4      Uruguay              3
5       France              2
6       Poland              1
7      England              1
8     Portugal              1
9     Slovenia              1
10     Croatia              1
11       Italy              1
12      Brazil              1

In [47]:
import pandas as pd

df = pd.read_csv('data_sf.csv')

s = round(df[df.Nationality == 'Spain'].Wage.value_counts(normalize=True, bins=4) *100, 0)
display(s)

(620.999, 95750.0]      97.0
(95750.0, 190500.0]      2.0
(190500.0, 285250.0]     1.0
(285250.0, 380000.0]     0.0
Name: Wage, dtype: float64

In [49]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df[df.Club == 'Manchester United'].Nationality.nunique()
print(s)

13

In [62]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df[df.Club == 'Juventus']['Nationality'].value_counts()
df.loc[(df.Club == 'Juventus')&(df.Nationality == 'Brazil')].Name

64      Alex Sandro
65    Douglas Costa
Name: Name, dtype: object

In [64]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df[df.Age > 35]['Club'].value_counts()
display(s)

Club Atlético Huracán          4
Hokkaido Consadole Sapporo     4
Benevento                      3
Gimnasia y Esgrima La Plata    3
Nagoya Grampus                 3
                              ..
Djurgårdens IF                 1
Montreal Impact                1
Atlético Huila                 1
Cruz Azul                      1
Real Betis                     1
Name: Club, Length: 212, dtype: int64

In [65]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
s = df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)
display(s)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [69]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
round(df[df.Nationality == 'Spain'].Age.value_counts(normalize=True)*100, 2)
#display(s)

21    11.77
22     9.54
20     7.75
23     7.15
25     6.41
27     6.26
24     5.96
28     5.37
26     5.37
29     4.77
19     4.77
18     3.87
30     3.87
31     3.28
32     3.28
33     3.13
34     2.24
17     1.34
35     1.19
36     1.04
37     0.89
39     0.30
16     0.30
38     0.15
Name: Age, dtype: float64

In [76]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Club'])
grouped_df = df.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [77]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

                     Wage        Age  ShotPower
Nationality
Afghanistan   1250.000000  22.500000  53.750000
Albania       5931.034483  23.689655  54.551724
Algeria      15810.810811  27.027027  56.567568
Andorra       1000.000000  28.000000  58.000000
Angola        7100.000000  24.700000  63.700000
...                   ...        ...        ...
Uzbekistan    9000.000000  29.500000  71.500000
Venezuela     6611.111111  23.638889  57.222222
Wales         9529.411765  24.754902  48.558824
Zambia        2833.333333  21.833333  66.833333
Zimbabwe      5000.000000  26.555556  62.888889

[156 rows x 3 columns]

In [78]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

In [79]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

            Name         Club    Wage  Age  ShotPower
291      Mariano  Real Madrid  140000   24         85
6279  L. Quezada   Córdoba CF    2000   22         66

In [81]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

In [82]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Nationality'])[['Club','Name']].nunique()

             Club  Name
Nationality
Afghanistan     4     4
Albania        26    29
Algeria        33    37
Andorra         1     1
Angola          9    10
...           ...   ...
Uzbekistan      2     2
Venezuela      34    36
Wales          56   101
Zambia          5     6
Zimbabwe        8     9

[156 rows x 2 columns]

In [83]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Club'])['Name'].count()

Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC Köln               10
1. FC Magdeburg          21
                         ..
Zagłębie Sosnowiec       25
Çaykur Rizespor          22
Örebro SK                26
Östersunds FK            20
Śląsk Wrocław            24
Name: Name, Length: 650, dtype: int64

In [85]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Club'])['Dribbling'].median()

Club
 SSV Jahn Regensburg     57.5
1. FC Heidenheim 1846    59.5
1. FC Kaiserslautern     54.0
1. FC Köln               60.5
1. FC Magdeburg          53.0
                         ...
Zagłębie Sosnowiec       58.0
Çaykur Rizespor          62.0
Örebro SK                55.0
Östersunds FK            61.5
Śląsk Wrocław            54.5
Name: Dribbling, Length: 650, dtype: float64

In [86]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Club'])['Strength'].max()

Club
 SSV Jahn Regensburg     92
1. FC Heidenheim 1846    86
1. FC Kaiserslautern     85
1. FC Köln               76
1. FC Magdeburg          86
                         ..
Zagłębie Sosnowiec       84
Çaykur Rizespor          81
Örebro SK                85
Östersunds FK            88
Śląsk Wrocław            85
Name: Strength, Length: 650, dtype: int64

In [87]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df.groupby(['Club'])['Balance'].min()

Club
 SSV Jahn Regensburg     29
1. FC Heidenheim 1846    22
1. FC Kaiserslautern     29
1. FC Köln               31
1. FC Magdeburg          19
                         ..
Zagłębie Sosnowiec       28
Çaykur Rizespor          39
Örebro SK                34
Östersunds FK            32
Śląsk Wrocław            31
Name: Balance, Length: 650, dtype: int64

In [91]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df_grouped = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
df_grouped.loc[df_grouped['mean'] == df_grouped['median']].count()

mean      52
median    52
dtype: int64

In [98]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df_grouped = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
df_grouped.loc[df_grouped['mean'] == df_grouped['median']].sort_values(['mean'],ascending=False)

                           mean  median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria Plzeň           1000.0    1000

In [101]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df_grouped = df.groupby(['Club'])['Wage'].sum()

df_grouped['Chelsea']

2035000

In [103]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df[(df.Age==20) & (df.Nationality=='Argentina')].Wage.max()

54000

In [104]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df[(df.Age==30) & (df.Nationality=='Argentina')].Wage.max()

300000

In [105]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
df[(df.Age==30) & (df.Nationality=='Argentina')].Wage.min()

1000

In [107]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
print(df[(df.Club=='FC Barcelona') & (df.Nationality=='Argentina')].Strength.max())
print(df[(df.Club=='FC Barcelona') & (df.Nationality=='Argentina')].Balance.max())

59
95