In [2]:
import os

files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [4]:
import re

files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

pattern = re.compile('.+\.txt')
data = []

for file in files:
    if pattern.match(file):
        data.append(file)
        
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [5]:
import os

for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data ['subfolder'] ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']
data\subfolder [] ['file_in_subfolder.txt']

In [9]:
import pandas as pd
import os

data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
files = os.listdir('data')
for filename in files:
    temp = pd.read_csv( os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'] )
    data = pd.concat([data, temp])
    
display(data)

     userId movieId  rating   timestamp
0         1      31     2.5  1260759144
1         1    1029     3.0  1260759179
2         1    1061     3.0  1260759182
3         1    1129     2.0  1260759185
4         1    1172     4.0  1260759205
...     ...     ...     ...         ...
9995    597    2572     3.0   940707828
9996    597    2613     3.0   940707355
9997    597    2657     4.0   940707124
9998    597    2661     4.0   940707609
9999    597    2662     3.0   940707473

[100004 rows x 4 columns]

In [13]:
import pandas as pd

df = pd.read_csv('ratings.csv')
df[df.rating == 0.5]['rating'].count()

1370

In [15]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

merged = ratings.merge(movies, on='movieId', how='outer')
merged.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100854.000000  100836.000000  1.008360e+05
mean      326.127564   19435.051728       3.501557  1.205946e+09
std       182.618491   35528.850950       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8128.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [17]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

movies[movies.movieId == 3456].title

2587    Color of Paradise, The (Rang-e khoda) (1999)
Name: title, dtype: object