In [1]:
import pandas as pd

In [2]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"])
display(data)

0     Январь
1    Февраль
2       Март
3     Апрель
dtype: object

In [7]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])

display(data.loc["Первый"])
display(data.loc[["Первый", "Третий"]])
display(data[["Первый", "Третий"]])

'Январь'

Первый    Январь
Третий      Март
dtype: object

Первый    Январь
Третий      Март
dtype: object

In [9]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])

display(data.iloc[0])
data.iloc[[0, 2]]

'Январь'

Первый    Январь
Третий      Март
dtype: object

In [10]:
import pandas as pd

data = pd.Series(list(range(10, 1001)))

print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70